{% extends 'amStaticApp/base.html' %} {% load static %} {% block title %}
    Service Design Sample | Automize {% endblock %} {% block content %}

    <div class="services-tech-header-banner">
        <h2 class="container">SERVICES FOR CUSTOM MOBILE APP DEVELOPMENT</h2>
        <p>
            Utilize our experience developing mobile apps to produce fluid mobile experiences that people
            will love and return to time and time again.
        </p>
        <a href="{% url 'contact' %}" class="base-btn am-btn-secondary">Contact Us</a>
    </div>

    <div class="services-tech-container">
        <div class="services-tech-text-section">
            <h1>OUR SERVICES FOR WEB DEVELOPMENT</h1>
            <hr/>
            <section>
                <p>
                    You need a group of mobile app developers that will thoroughly examine your industry and business
                    ecosystem. Who will examine your clients to determine their requirements and retrace their paths?
                    They will develop a genuinely unique plan and help your business realize the greatest benefits from
                    mobile technology. This is, after all, the main goal of developing custom mobile apps.
                </p>
                <p>
                    You're at the right place if this seems like something you can relate to. In order to create
                    award-winning applications for millions of mobile users, our UX/UI designers and engineers have been
                    customizing application development services for our clients—Oracle, Printique, and Takeda—for more
                    than ten years. You can now use this experience to speed up the development of your mobile app.
                </p>
            </section>
        </div>

        <div class="services-tech-text-section">
            <h1>what we do ?</h1>
            <hr/>
            <section>
                <p>
                    Start or accelerate your project with our tried-and-true services for creating custom mobile apps.
                    Our professionals handle every step of the process of developing a mobile application, from concept
                    to launch, including business analysis, UX/UI design, and development of the application. They also
                    integrate the new product into your infrastructure and offer additional optimization and scale-up as
                    needed.
                </p>

                <p>
                    We create mobile apps for many platforms with cutting-edge technologies and tried-and-true methods.
                    Among the services we offer for developing mobile apps are:
                </p>
            </section>
        </div>

        <div class="services-section-icons container">
            <div class="icons-text-wrapper">
                <div class="choices-box">
                    <img src="{% static 'images/t.png' %}"/>
                    <p>Next-gen technologies, intelligent algorithms and modern UI</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/s.png' %}"/>
                    <p>Design and development of native Android and iOS mobile apps</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/Group-27.png' %}"/>
                    <p>Mobile application development based on React Native and Flutter</p>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary my-5">
                tell us about your project
            </a>
        </div>


        <section class="service-tech-sample-section-methodology">
            <h1>DEVELOPMENT OF AGILE MOBILE APPS</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    When you collaborate with a seasoned mobile application developer, the outcomes are consistently
                    favorable. We ensure that your time and effort are maximized at every stage of development and that
                    you receive a digital product that fully satisfies your requirements—if not surpasses them—by
                    employing a proactive strategy and an agile process.
                </p>
            </div>

            <div class="cards-container">
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>CONSULTING & STRATEGY</h5>
                        <p>
                            Select technology and innovation consulting alongside comprehensive market understanding to
                            develop a success-driven mobile strategy for your company.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-3.png' %}"/>
                    <div class="text-content">
                        <h5>UX/UI DESIGN</h5>
                        <p>
                            With our expert assistance, you acquire user-centric digital tools and omnichannel
                            experiences perfectly aligned with your customers' needs and your business objectives.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-2.png' %}"/>
                    <div class="text-content">
                        <h5>CONSULTING & STRATEGY</h5>
                        <p>
                            We implement an iterative approach to construct future-proof digital products, adeptly
                            managing evolving requirements, and ensuring timely and budget-conscious delivery.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>QA AND OPTIMIZATION</h5>
                        <p>
                            We seamlessly integrate innovative products into your digital infrastructure, ensuring
                            quality assurance and leveraging performance insights for ongoing optimization.
                        </p>
                    </div>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">HIRE WEB DEVELOPERS</a>
        </section>
        
        <div class="services-tech-text-section">
            <h1>our clients say</h1>
            <hr/>
            <section>
                <p>
                    Our mobile app development services are trusted by startups, enterprises, design studios, and
                    technology firms, who partner with us to expand their online presence. The mobile products we have
                    developed for our partners and clients have increased sales, brought in new revenue streams, and
                    received numerous awards throughout the years.
                </p>
            </section>
        </div>

        <div class="service-tech-sample-section-clients-comments">
            <div class="client-comment">
                <div class="comment-body">
                    <div class="client-info">
                        <img src="{% static 'images/image-1.jpg' %}"/>
                        <div class="client-info-text">
                            <span class="client-name">David Zack</span>
                            <span class="client-job">Head of Software Development, T&F</span>
                        </div>
                    </div>
                    <p>
                        One of the best teams I have ever worked with is the Digiteum team. We have launched several
                        applications on tablets and mobile devices with the team's assistance. They have an agile
                        methodology in place, are highly skilled technically, and are constantly seeking out win-win
                        scenarios. The group is very sincere, diligent, and a wellspring of fresh concepts and
                        advancements. I can't speak highly enough of the team.
                    </p>
                </div>
            </div>
            <div class="client-comment">
                <div class="comment-body">
                    <div class="client-info">
                        <img src="{% static 'images/image-1.jpg' %}"/>
                        <div class="client-info-text">
                            <span class="client-name">Jennifer Fromm</span>
                            <span class="client-job">CEO of Dona Media, Inc.</span>
                        </div>
                    </div>
                    <p>
                        We have had nothing but the best experience with the team in terms of their professionalism,
                        understanding of our vision, and product execution. We are still working together with Digiteum
                        as our startup grows!
                    </p>
                </div>
            </div>
            <div class="client-comment">
                <div class="comment-body">
                    <div class="client-info">
                        <img src="{% static 'images/image-1.jpg' %}"/>
                        <div class="client-info-text">
                            <span class="client-name">Mike Burgess</span>
                            <span class="client-job">founder of BAM Mobile</span>
                        </div>
                    </div>
                    <p>
                        For smartphone and tablet development, we collaborated with Digiteum on several projects, and
                        we've always had an amazing experience. Quick, accurate, and has excellent project management
                        and communication abilities. a smooth procedure. Strongly advised.
                    </p>
                </div>
            </div>
        </div>


        <div class="services-tech-text-bottom-section">
            <h1>APPLY NOW FOR mobile DEVELOPMENT SERVICES</h1>
            <hr/>
            <section>
                <p>
                    Are you trying to find a trustworthy firm that develops mobile applications? Get in touch with our
                    knowledgeable staff, and we'll assist your company in developing a fruitful mobile strategy and
                    providing a seamless omnichannel consumer experience for all of your patrons.
                </p>
            </section>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">LET'S TALK</a>
        </div>
    </div>

{% endblock %}