@import "variables";
@import "typography";

.container_bs {
    position: relative;
    text-align: left;

    .bs_img {

        img {
            width: 100%;
            height: 650px;
            opacity: 0.7;
        }

        .centered_bs {
            position: absolute;
            top: 50%;
            left: 34%;
            color: white;
            transform: translate(-50%, -50%);

            .title_bs {
                line-height: 70px;
                font-size: 60px;
            }

            .desc_bs {
                font-size: 25px;
                width: 100%;
                font-weight: 500;
            }

            button {
                margin-top: 25px;
                padding: 10px;
                background-color: white;
                color: $primary-color;
                border: none;
                width: 210px;
                height: 50px;
                font-size: 16px;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: bold;
            }

            button:hover {
                color: #454747;
            }
        }
    }
}

.bs_container {

    margin-left: 14%;

    .breadcrumb {
        ul {
            list-style: none;

            li {
                font-size: 12px;
                display: inline;

                a:hover {
                    text-decoration: none;
                }
            }

            li+li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }
        }
    }

    .art_header {
        margin-top: 5%;

        ul {
            list-style: none;

            li {
                font-size: 12px;
                display: inline;

                i {
                    margin: 0 15px 0 10px;
                    color: #757979;
                }
            }
        }
    }

    .article_blog {
        margin-left: 40px;
        width: 55%;

        .head {
            h1 {
                font-family: 'Open Sans';
                font-size: 45px;
                font-weight: 700;
                letter-spacing: -2px;
                line-height: 54px;
                margin: 30px 0 0 0;
            }

            p {
                color: #666666;
                line-height: 28px;
                font-style: italic
            }

            img {
                width: 723px;
                height: 1810px;
                margin-top: 5%;
            }
        }

        .body {
            margin-top: 5%;

            h3 {
                font-size: 24px;
            }

            ol {
                li {
                    color: #666666;
                    line-height: 32px;

                    strong {
                        font-size: 19px;
                    }
                }
            }

            p {
                font-style: italic;
                color: #666666;
                margin-top: 5%;
                margin-bottom: 10%;
            }
        }

        .conclusion {
            margin-top: 5%;

            h3 {
                font-size: 24px;
            }

            p {
                color: #666666;
                line-height: 30px;
            }

            ol {
                li {
                    color: #666666;
                    line-height: 32px;

                    strong {
                        font-size: 19px;
                    }
                }
            }

        }

        .social_media {
            margin-top: 15%;
            ul {
                list-style: none;

                li {

                    font-size: 18px;
                    display: inline;
                    a{
                        text-decoration: none;
                        color: #757979;
                    }

                    i {
                        margin: 15px 5px 0 10px;
                        color: #757979;
                    }
                }
            }
        }
    }
}