@use "variables" as *;

.base-btn {
  //Font & Text
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none solid $primary-color;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  word-spacing: 0;

  // Color & Background
  color: black;

  //Box
  height: 50px;
  width: fit-content;
  border: none;
  padding: 17px 30px 17px 30px;
  min-width: 150px;
  margin: 2.5px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.am-btn-primary {
  // Color & background
  background-color: $primary-color;
  color: white;
  border: 2px solid $primary-color;
}
.am-btn-primary:hover {
  background-color: white;
  border: 2px solid $primary-color;
  color: $primary-color;
}

.am-btn-secondary {
  background-color: $primary-color;
  color: white;
}
.am-btn-secondary:hover {
  background-color: $secondary-color;
}

.am-btn-white {
  // Color & background
  background-color: white;
  color: $primary-color;
}

.am-btn-white:hover {
  color: $secondary-color;
}
