@use "variables";
/* typography.scss */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: local("Open Sans Regular"),
    url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

/* Add more @font-face rules for other font weights and styles */

h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

html,
body,
* {
  font-family: "Open Sans";
}
