/* typography.scss */

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: local("Open Sans Regular"),
    url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

/* Add more @font-face rules for other font weights and styles */

.section-title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}
