{% extends 'amStaticApp/base.html' %} {% load static %} {% block title %}
    Service Design Sample | Automize {% endblock %} {% block content %}

    <div class="services-tech-header-banner">
        <h2 class="container">Services for Android App Development</h2>
        <p>
            We create and design Android apps that your employees, clients, and consumers will adore and decide to keep.
        </p>
        <a href="{% url 'contact' %}" class="base-btn am-btn-secondary">LET’S TALK</a>
    </div>

    <div class="services-tech-container">
        <div class="services-tech-text-section">
            <h1>ANDROID APPLICATION DEVELOPMENT</h1>
            <hr/>
            <section>
                <p>
                    You've come here in search of a reputable Android app development company that can assist your
                    company in utilizing mobile technology to connect with clients and customers via some of the most
                    well-liked devices.
                </p>
                <p>
                    A talented and adaptable mobile development team, Automize creates excellent Android apps for
                    B2B/B2E and B2C sectors. With the use of our apps, companies can reach millions more Android users,
                    establish new revenue streams, and differentiate themselves from rivals. Check to see if our
                    services for developing Android mobile applications meet your demands.
                </p>
            </section>
        </div>

        <div class="services-tech-text-section">
            <h1>WHAT WE DO ?</h1>
            <hr/>
            <section>
                <p>
                    We offer full-cycle Android app development services, which include business analysis, design, and
                    programming, testing, and Google Play Store launch.
                </p>

                <p>
                    Automize is the only technology provider you'll need, whether you need to design and develop a whole
                    new app for a smartphone, tablet, smart TV, or wearable, redesign and update an existing one, or
                    expand your mobile solution from iOS to Android. Among our offerings are:
                </p>
            </section>
        </div>

        <div class="services-section-icons container">
            <div class="icons-text-wrapper">
                <div class="choices-box">
                    <img src="{% static 'images/t.png' %}"/>
                    <p>Custom Android app development</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/s.png' %}"/>
                    <p>Android applications for IoT</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/Group-27.png' %}"/>
                    <p>UX/UI design for Android</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/Group-27.png' %}"/>
                    <p>Android app redesign and scale-up</p>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary my-5">
                tell us about your project
            </a>
        </div>


        <section class="service-tech-sample-section-methodology">
            <h1>AGILE APP DEVELOPMENT FOR ANDROID</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    As a customer, you anticipate working in a transparent, cooperative setting and being able to
                    monitor the steady advancement of your project in real time. We design Android apps with an agile
                    methodology, ensuring that you are informed at every stage of the product production process.
                </p>
                <p>
                    We progress together from one iteration to the next and from one stage to the next. In this
                    approach, your Android app changes to meet the needs of the rapidly evolving market, user
                    preferences, and your ideas and commercial goals.
                </p>
            </div>

            <div class="cards-container">
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>CONSULTING</h5>
                        <p>
                            Convert your business concept to a mobile platform and select the feature set that will make
                            users remember you.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-3.png' %}"/>
                    <div class="text-content">
                        <h5>UX/UI DESIGN</h5>
                        <p>
                            We build captivating experiences on all devices by adhering to the best principles of
                            Android developer design.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-2.png' %}"/>
                    <div class="text-content">
                        <h5>ENGINEERING</h5>
                        <p>
                            You will receive the best possible tech stack, flawless code, and on-time delivery when you
                            work with our Android developers.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>DELIVERY</h5>
                        <p>
                            To improve and expand your mobile product, test it on actual hardware and use performance
                            data.
                        </p>
                    </div>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">Contact Automize</a>
        </section>

        <section class="service-tech-sample-section-technologies">
            <h1>technologies we use</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    Our Android app developers are constantly at the forefront of invention. We assist our clients in
                    optimizing the platform's features and creating seamless user experiences across all Android
                    devices.
                </p>
                <p>
                    When you work with Automize to develop an Android app, you can be certain that the final product
                    will be developed with Google best practices and current design trends in mind. Our experts will
                    assemble a unique combination of technologies to create a sophisticated and useful system. Your app
                    will be notable for its safe data transfer, memory optimization, reliable performance, and small
                    size.
                </p>
            </div>
            <div class="lists-container">
                <div class="list">
                    <h6>PROGRAMMING LANGUAGES:</h6>
                    <ul>
                        <li>Java</li>
                        <li>Kotlin</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>TOOLSET:</h6>
                    <ul>
                        <li>Android Studio</li>
                        <li>Sketch</li>
                        <li>Photoshop</li>
                        <li>Figma</li>
                        <li>MarvelApp</li>
                        <li>Genymotion</li>
                        <li>Flutter</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>TECHNOLOGIES:</h6>
                    <ul>
                        <li>Firebase</li>
                        <li>Realm</li>
                        <li>Constraints</li>
                        <li>Glide</li>
                        <li>Notifications</li>
                        <li>MediaPlayer</li>
                        <li>Neural Networks</li>
                        <li>Google Services</li>
                    </ul>
                </div>
            </div>
        </section>


        <div class="services-tech-text-bottom-section">
            <h1>HOW CAN WE HELP?</h1>
            <hr/>
            <section>
                <p>
                    You've come to the correct spot if you're trying to find a capable Android application development
                    business. Get in touch with our knowledgeable staff right now to discuss your project. Your
                    effective Android app development will begin with this prompt request for a free quote.
                </p>
            </section>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">LET'S TALK</a>
        </div>
    </div>

{% endblock %}