{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %}
    Service Design Sample | Automize
{% endblock %}
{% block content %}

    <div class="services-tech-header-banner">
        <h2 class="container">C PROGRAMMING LANGUAGE SERVICE</h2>
        <p>
            Boost your business productivity and efficiency with our custom C programming language solutions.
        </p>
        <a href="{% url 'contact' %}" class="base-btn am-btn-secondary">Contact Us</a>
    </div>

    <div class="services-tech-container">
        <div class="services-tech-text-section">
            <h1>CUSTOM C PROGRAMMING SOLUTIONS</h1>
            <hr/>
            <section>
                <p>
                    Develop tailored, high-performance software solutions aligned with your business requirements using the C programming language. As a seasoned C development company, we specialize in designing and delivering custom software that meets your unique needs. From initial concept to final deployment, we offer end-to-end C application development services.
                </p>
            </section>
        </div>

        <section class="service-tech-sample-section-methodology">
            <h1>C DEVELOPMENT TEAM ON DEMAND</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    Quickly assemble a proficient C development team or expand your existing project with seasoned C specialists. Our comprehensive range of C software development services covers system programming, embedded systems, game development, and more.
                </p>
            </div>

            <div class="cards-container">
                <div class="card">
                    <div class="text-content">
                        <h5>SYSTEM PROGRAMMING</h5>
                        <p>
                            Utilize the power of C for scalable, secure, and efficient system-level programming. Our expertise in C ensures that your applications are built for performance and reliability.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="text-content">
                        <h5>EMBEDDED SYSTEMS DEVELOPMENT</h5>
                        <p>
                            Develop custom embedded systems solutions using C for a wide range of applications, including IoT devices, automotive systems, and industrial automation.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="text-content">
                        <h5>GAME DEVELOPMENT</h5>
                        <p>
                            Create immersive gaming experiences with C programming. Our team can develop high-performance game engines, game logic, and graphics rendering systems using the C language.
                        </p>
                    </div>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">HIRE C DEVELOPERS</a>
        </section>

        <section class="service-tech-sample-section-technologies">
            <h1>VERSATILE C DEVELOPMENT COMPANY</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    Digiteum is your premier destination for comprehensive software design, development, and IT consulting services tailored to C solutions. Our agile approach allows us to seamlessly integrate into any phase of your product development lifecycle, offering a collaborative framework that adapts to your unique needs. Whether you require seasoned C engineers to augment your team or seek end-to-end product development solutions, we provide expertise across every stage of software development, including architecture design, implementation, testing, maintenance, and support.
                </p>
            </div>
            <div class="lists-container">
                <div class="list">
                    <h6>FRAMEWORKS/PLATFORMS</h6>
                    <ul>
                        <li>C Standard Library</li>
                        <li>OpenGL, DirectX</li>
                        <li>Qt, GTK+</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>EMBEDDED SYSTEMS TOOLS</h6>
                    <ul>
                        <li>ARM Cortex-M</li>
                        <li>Raspberry Pi</li>
                        <li>Arduino</li>
                        <li>FreeRTOS, Zephyr</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>GAME DEVELOPMENT TOOLS</h6>
                    <ul>
                        <li>Unity</li>
                        <li>Unreal Engine</li>
                        <li>SDL (Simple DirectMedia Layer)</li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="services-tech-text-bottom-section">
            <h1>START YOUR C PROJECT</h1>
            <hr/>
            <section>
                <p>
                    Empower your business with a dedicated C development center or enhance your existing tech team with the expertise of Digiteum's seasoned C developers. We boast a multidisciplinary team consisting of in-house UX/UI designers, senior engineers, DevOps specialists, QA professionals, and agile management specialists, all poised to seamlessly integrate into your project and drive impactful results within weeks.
                </p>
            </section>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">HIRE C DEVELOPERS</a>
        </div>
    </div>

{% endblock %}
