{% extends 'amStaticApp/base.html' %} {% load static %} {% block title %}
    Service Design Sample | Automize {% endblock %} {% block content %}

    <div class="services-tech-header-banner">
        <h2 class="container">SERVICES FOR IOS APP DEVELOPMENT</h2>
        <p>
            We create and design iOS apps that your employees, clients, and consumers will adore and decide to keep.
        </p>
        <a href="{% url 'contact' %}" class="base-btn am-btn-secondary">LET’S TALK</a>
    </div>

    <div class="services-tech-container">
        <div class="services-tech-text-section">
            <h1>iOS APPLICATION DEVELOPMENT</h1>
            <hr/>
            <section>
                <p>
                    Are you trying to find an iPhone application development business that can assist you in reaching
                    over a billion Apple product users?
                </p>
                <p>
                    The teams at Automize might be the one you're looking for. With more than ten years of experience
                    developing custom iOS apps, we have created dozens of apps for various Apple products. While some of
                    them became new profit centers, others took home important design accolades. Furthermore, every one
                    of our goods has had an effect on the market and assisted our clients in reaching or exceeding their
                    business objectives. See what we can accomplish for you.
                </p>
            </section>
        </div>

        <div class="services-tech-text-section">
            <h1>WHAT WE OFFER ?</h1>
            <hr/>
            <section>
                <p>
                    We provide iOS application development services for all Apple product lines, including TVs, tablets,
                    smartphones, and wearables. Digiteum is your go-to partner if you need high-end coding, full-cycle
                    iOS development services, or someone to turn your company idea into a working iOS application. They
                    can also create a slick UI and seamless user experience.
                </p>

                <p>
                    We have had the opportunity to design and develop iOS apps for a variety of businesses and niches,
                    including healthcare, energy, sport, education, and travel, using our more than ten years of mobile
                    development experience. We offer:
                </p>
            </section>
        </div>

        <div class="services-section-icons container">
            <div class="icons-text-wrapper">
                <div class="choices-box">
                    <img src="{% static 'images/t.png' %}"/>
                    <p>iPhone app development services</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/s.png' %}"/>
                    <p>iPad application development services</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/Group-27.png' %}"/>
                    <p>Applications for Apple TV and other smart devices</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/Group-27.png' %}"/>
                    <p>Applications for Apple Watch</p>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary my-5">
                tell us about your project
            </a>
        </div>


        <section class="service-tech-sample-section-methodology">
            <h1>AGILE APP DEVELOPMENT FOR iOS</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    When you work with Digiteum, you'll always be in the know—from gathering requirements to launching
                    and supporting the finished product. We use agile development process for creating apps for the
                    iPhone, iPad, or any other Apple device. By doing so, we can ensure that your iOS product matches
                    your business objectives and adapts to changing market realities and user needs. We can also
                    preserve process transparency and keep our clients informed.
                </p>
            </div>

            <div class="cards-container">
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>CONSULTING</h5>
                        <p>
                            Convert your business concept to a mobile platform and select the feature set that will make
                            users remember you.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-3.png' %}"/>
                    <div class="text-content">
                        <h5>UX/UI DESIGN</h5>
                        <p>
                            We build captivating experiences on all devices by adhering to the best principles of
                            iOS developer design.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-2.png' %}"/>
                    <div class="text-content">
                        <h5>ENGINEERING</h5>
                        <p>
                            You will receive the best possible tech stack, flawless code, and on-time delivery when you
                            work with our iOS developers.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>DELIVERY</h5>
                        <p>
                            To improve and expand your mobile product, test it on actual hardware and use performance
                            data.
                        </p>
                    </div>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">Contact Automize</a>
        </section>

        <section class="service-tech-sample-section-technologies">
            <h1>technologies we use</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    Automize can be your one-stop shop for services if you're searching for a talented team to create
                    apps for smart iOS devices, wearables, or iPhones. Our engineers and designers are consistently
                    abreast of the most recent iOS feature updates as well as Apple standards and specifications.
                </p>
                <p>
                    We stay current with high-end technology, novelties, and trends. However, we continue to develop our
                    applications using the most dependable and effective tools. By depending on our services for
                    developing iPhone applications, you can be certain that your product is constructed on the best tech
                    stack possible, ensuring consistency, data security, and top-notch app performance.
                </p>
            </div>
            <div class="lists-container">
                <div class="list">
                    <h6>PROGRAMMING LANGUAGES:</h6>
                    <ul>
                        <li>Objective-C</li>
                        <li>Swift</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>TOOLSET:</h6>
                    <ul>
                        <li>Apple’s Xcode</li>
                        <li>JetBrains AppCode</li>
                        <li>Sketch</li>
                        <li>Photoshop</li>
                        <li>Figma</li>
                        <li>MarvelApp</li>
                        <li>Flutter</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>TECHNOLOGIES:</h6>
                    <ul>
                        <li>HealthKit</li>
                        <li>iCloud and CloudKit</li>
                        <li>In-App Purchase</li>
                        <li>App Extensions</li>
                        <li>Apple Pay</li>
                        <li>Wallet</li>
                        <li>SiriKit</li>
                        <li>WebKit</li>
                        <li>SwiftUI</li>
                    </ul>
                </div>
            </div>
        </section>


        <div class="services-tech-text-bottom-section">
            <h1>HOW CAN WE HELP?</h1>
            <hr/>
            <section>
                <p>
                    The Digiteum team can help you with any of your app development needs, including custom iPhone app
                    development, redesigning or improving your current app, moving from Android or another platform to
                    iOS, or creating a disruptive app that will fundamentally alter the market. View the iOS apps we are
                    pleased of in our case study collection, then go to work on your own successful project.
                </p>
            </section>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">LET'S TALK</a>
        </div>
    </div>

{% endblock %}