@charset "UTF-8";
/* typography.scss */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
/* Add more @font-face rules for other font weights and styles */
h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

html,
body,
* {
  font-family: "Open Sans";
}

am-text-bold {
  font-weight: bold;
}
am-text-bold .section-title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

.base-btn {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none solid #dc170f;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  word-spacing: 0;
  color: black;
  height: 50px;
  width: fit-content;
  border: none;
  padding: 17px 30px 17px 30px;
  min-width: 150px;
  margin: 2.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.am-btn-primary {
  background-color: #dc170f;
  color: white;
  border: 2px solid #dc170f;
}

.am-btn-primary:hover {
  background-color: white;
  border: 2px solid #dc170f;
  color: #dc170f;
}

.am-btn-secondary {
  background-color: #dc170f;
  color: white;
}

.am-btn-secondary:hover {
  background-color: #666666;
}

.am-btn-white {
  background-color: white;
  color: #dc170f;
}

.am-btn-white:hover {
  color: #666666;
}

/* typography.scss */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
/* Add more @font-face rules for other font weights and styles */
h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

html,
body,
* {
  font-family: "Open Sans";
}

am-text-bold {
  font-weight: bold;
}
am-text-bold .section-title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

.container_service {
  position: relative;
  text-align: center;
  margin: 0;
}
.container_service .header_img #image {
  width: 100%;
  height: 830px;
}
.container_service .header_img .centered_service {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}
.container_service .header_img .centered_service .title_header {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 78px;
  width: 100%;
}
.container_service .header_img .centered_service .banner_text {
  margin-top: 45px;
}
.container_service .header_img .centered_service .banner_text #text_about_img {
  font-size: 18px;
  line-height: 30px;
  width: 600px;
}

.container_about {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-left: 50px;
}
.container_about .desc_about {
  margin-top: 100px;
  display: grid;
  place-items: center;
}
.container_about .desc_about .title {
  margin: 30px;
}
.container_about .desc_about .title #h2_about {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.container_about .desc_about .title hr {
  border: 2px solid #dc170f;
  width: 25%;
}
.container_about .desc_about .definition_about {
  text-align: left;
  width: 720px;
}
.container_about .desc_about .definition_about .p_definition_about {
  font-size: 18px;
  line-height: 31.5px;
  margin: 0px 0px 18px;
}
.container_about .desc_about .definition_about .p_definition_about #title_definition_about {
  font-weight: 600;
}
.container_about .desc_about #img_facts {
  width: 972px;
  height: 382px;
}
.container_about .desc_about .section_team_about {
  text-align: left;
  width: 50%;
}
.container_about .desc_about .section_team_about #p_team_section {
  line-height: 32px;
  margin: 0 0 25px;
  font-size: 18px;
}
.container_about .desc_about #img_team_section {
  width: 1140px;
  height: 850px;
  margin-top: 20px;
}
.container_about .desc_about .row_about {
  margin: 20px;
  margin-left: 20%;
  width: 85%;
}
.container_about .desc_about .row_about .column_about {
  float: left;
  width: 27%;
}
.container_about .desc_about .row_about .column_about .card_about #img_leader_about {
  width: 90%;
}
.container_about .desc_about .row_about .column_about .card_about .label_leader_about {
  color: #474747;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 15px;
}
.container_about .desc_about .row_about .column_about .card_about .p_leader_about {
  margin: 30px 0 30px 0;
  color: #888888;
  font-size: 14px;
}
.container_about .desc_about button {
  width: 28%;
  height: 50px;
  background-color: #dd170f;
  border: none;
  line-height: 52px;
  margin: 25px 434px 60px;
}
.container_about .desc_about button a {
  text-decoration: none;
  color: white;
}

.contactUs {
  position: absolute;
  width: 80%;
  padding: 40px;
}
.contactUs .top {
  width: 100%;
  margin: 15%;
}
.contactUs .top .title #title_contact {
  margin-bottom: 50px;
  margin-left: 20px;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -2.4px;
}
.contactUs .top .box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  width: 90%;
  margin-left: 20px;
}
.contactUs .top .box .contact {
  padding: 40px;
  background-color: white;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.contactUs .top .box .form {
  grid-area: form;
  height: 800px;
  width: 740px;
}
.contactUs .top .box .form .formBox {
  position: relative;
  width: 100%;
}
.contactUs .top .box .form .formBox .row50 {
  display: flex;
  gap: 25px;
}
.contactUs .top .box .form .formBox .inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
.contactUs .top .box .form .formBox .inputBox .input_name_contact {
  color: #6f6f6f;
  margin-top: 10px;
  margin-bottom: 5px;
}
.contactUs .top .box .form .formBox .inputBox .input_contact {
  height: 60px;
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #eee9e9;
  background-color: #f9f9f9;
}
.contactUs .top .box .form .row100 .inputBox {
  width: 100%;
}
.contactUs .top .box .form .row100 .inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #ede8e8;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.contactUs .top .box .form .row100 .check {
  margin-bottom: 15px;
}
.contactUs .top .box .form .row100 .check .label_check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 20px 0px 17px 0px;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  color: #6f6f6f;
  user-select: none;
}
.contactUs .top .box .form .row100 .check .label_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.contactUs .top .box .form .row100 .check .label_check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.contactUs .top .box .quote {
  position: relative;
  padding-left: 1.5rem;
  font-style: italic;
}
.contactUs .top .box .quote::before {
  content: "“";
  position: absolute;
  left: -25px;
  top: -50px;
  font-size: 12rem;
  line-height: 1;
  color: #dc170f;
}
.contactUs .top .box .quote .info {
  grid-area: info;
  height: 70%;
  width: 340px;
  height: 370px;
}
.contactUs .top .box .quote .info .boxInfo {
  width: 100%;
}
.contactUs .top .box .quote .info .boxInfo #info_title_contact {
  font-style: italic;
  line-height: 35px;
  font-size: 20px;
  font-weight: 500;
}
.contactUs .top .box .quote .info .boxInfo .desc_contact {
  float: left;
  margin-top: 45px;
}
.contactUs .top .box .quote .info .boxInfo .desc_contact #title_author_info {
  font-weight: 600;
  font-size: 20px;
}
.contactUs .top .box .quote .info .boxInfo .desc_contact #desck_author_info {
  margin-top: 10px;
}
.contactUs .top .box .map {
  height: 30%;
  grid-area: map;
  color: #333;
}
.contactUs .top .box .map .map_desc {
  margin-top: -100px;
}
.contactUs .top .box .map .map_desc .adress_contact #location_contact {
  position: relative;
  top: 60px;
  left: 40px;
}
.contactUs .top .box .map .map_desc .adress_contact #p_adress {
  margin-left: 120px;
  line-height: 24px;
  font-size: 14px;
}
.contactUs .top .box .map .map_desc .adress_contact #p_country_adress {
  margin-left: 120px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 800;
}
.contactUs .top .box .map .map_desc .adress_contact #p_email_adress {
  color: #dc170f;
  margin-left: 120px;
  line-height: 24px;
  font-size: 14px;
}
.contactUs .top .box .map .map_desc .ul_map_contact {
  margin: 40px 20px 20px 20px;
}
.contactUs .top .box .map .map_desc .ul_map_contact .li_map_contact {
  list-style-type: square;
  line-height: 40px;
  margin-left: 40px;
  font-size: 18px;
}
.contactUs .top .box .map .map_desc .ul_map_contact ::marker {
  color: #dc170f;
}

.label_check:hover input ~ .checkmark {
  background-color: #ccc !important;
}

.label_check input:checked ~ .checkmark {
  background-color: #dc170f !important;
}

.checkmark:after {
  content: "" !important;
  position: absolute !important;
  display: none !important;
}

.label_check #checkbox:checked ~ .checkmark:after {
  display: block !important;
}

.label_check .checkmark:after {
  left: 10px !important;
  top: 7px !important;
  width: 2px !important;
  height: 4px !important;
  border: solid white !important;
  border-width: 0 3px 3px 0 !important;
  border-width: 1px solid white;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}

.container_blog {
  position: relative;
  text-align: left;
}
.container_blog .blog_img #img_header_blog {
  width: 100%;
  height: 460px;
}
.container_blog .blog_img .centered_blog {
  position: absolute;
  top: 50%;
  left: 34%;
  color: black;
  transform: translate(-50%, -50%);
}
.container_blog .blog_img .centered_blog #title_blog {
  font-size: 52px;
  font-weight: 600;
}
.container_blog .blog_img .centered_blog .title_header_blog {
  margin-top: 60px;
  font-size: 24px;
  width: 100%;
  line-height: 28px;
  font-weight: 600;
}

.grid_blog_container {
  display: grid;
  grid-template-areas: "sidebar main right" "sidebar left  second" "sidebar sec left_1" "sidebar footer footer";
  margin-top: 5%;
  margin-bottom: 10%;
  gap: 65px;
  width: 85%;
  justify-content: center;
  margin-left: 120px;
}
.grid_blog_container .item1_blog {
  grid-area: sidebar;
}
.grid_blog_container .item1_blog .search_wrapper {
  position: relative;
  width: 230px;
  height: 50px;
}
.grid_blog_container .item1_blog .search_wrapper:after {
  position: absolute;
  top: 15px;
  left: 112%;
  content: "\f002";
  color: grey;
  font-size: 14px;
}
.grid_blog_container .item1_blog .search_wrapper .search {
  padding: 15px 50px 15px 15px;
  width: 100%;
  border: 2px solid #d7d5d5;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
}
.grid_blog_container .item1_blog #cat_title_blog {
  display: inline-block;
  font-size: 13px;
  font-weight: 800;
  line-height: 13px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 35px;
}
.grid_blog_container .item1_blog .ul_cat_blog {
  border-right: 1px solid #e7e7e7;
}
.grid_blog_container .item1_blog .ul_cat_blog .li_cat_blog {
  border-bottom: 1px solid #e7e7e7;
}
.grid_blog_container .item1_blog .ul_cat_blog .li_cat_blog .link_cat_blog {
  color: #666666;
  display: list-item;
  padding: 16px 0px 12px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
}
.grid_blog_container .item1_blog .ul_cat_blog .li_cat_blog .link_cat_blog:hover {
  color: #dc170f;
  text-decoration: underline;
}
.grid_blog_container .item2_blog {
  grid-area: main;
  width: 380px;
  height: 550px;
}
.grid_blog_container .item3_blog {
  grid-area: right;
  width: 380px;
  height: 550px;
}
.grid_blog_container .item4_blog {
  grid-area: left;
  width: 380px;
  height: 550px;
}
.grid_blog_container .item5_blog {
  grid-area: second;
  width: 380px;
  height: 550px;
}
.grid_blog_container .item6_blog {
  grid-area: sec;
  width: 380px;
  height: 550px;
}
.grid_blog_container .item7_blog {
  grid-area: left_1;
  width: 380px;
  height: 550px;
}
.grid_blog_container .item8_blog {
  grid-area: footer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid_blog_container .item8_blog .btn_post {
  margin-top: 60px;
}
.grid_blog_container .item8_blog .btn_post #btn_previous_blog {
  padding: 15px;
  background-color: #dd170f;
  color: white;
  font-size: 15px;
  border: none;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.grid_blog_container .card {
  width: 380px;
  height: 580px;
  box-shadow: #d0d3d4 0px 0px 5px 0px;
}
.grid_blog_container .card .info_card {
  padding: 20px;
}
.grid_blog_container .card .info_card .article {
  line-height: 24px;
  padding-top: 10px;
  text-align: left;
}
.grid_blog_container .card .info_card .article .p_card_blog {
  color: #687177;
  font-size: 15px;
  line-height: 24.4286px;
  margin: 15px 0px;
  text-align: left;
}
.grid_blog_container .card .info_card .article .link_title_card {
  color: #373737;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 27px;
  text-align: left;
  text-decoration: none;
}
.grid_blog_container .card .info_card .article .link_title_card:hover {
  color: #dd170f;
}
.grid_blog_container .card .info_card .meta .p_social_blog {
  color: #777777;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 19.25px;
  text-align: left;
  text-transform: uppercase;
}
.grid_blog_container .card .info_card .meta .p_social_blog .fa-regular {
  padding: 10px;
}

/* typography.scss */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
/* Add more @font-face rules for other font weights and styles */
h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

html,
body,
* {
  font-family: "Open Sans";
}

am-text-bold {
  font-weight: bold;
}
am-text-bold .section-title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

.container_home {
  position: relative;
  text-align: center;
  margin: 0;
  background-color: #dc170f;
  height: 780px;
}
.container_home img {
  width: 85%;
  height: 780px;
  margin-left: 253px;
}
.container_home .header_home_img .centered_home {
  position: absolute;
  top: 50%;
  left: 25%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: left;
}
.container_home .header_home_img .centered_home .title_header_home {
  font-size: 40px;
  line-height: 40px;
  width: 100%;
  font-weight: 400;
}
.container_home .header_home_img .centered_home .banner_text_home {
  margin-top: 35px;
}
.container_home .header_home_img .centered_home .banner_text_home #text_home_p {
  font-size: 22px;
  line-height: 27px;
}
.container_home .header_home_img .centered_home .btn_header_home {
  margin-top: 10%;
}
.container_home .header_home_img .centered_home .btn_header_home a {
  font-size: 18px;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  color: #dc170f;
  background-color: white;
  text-transform: uppercase;
  margin-right: 5%;
}

.section_home_one {
  position: relative;
  margin-top: 10%;
  width: 100%;
}
.section_home_one #h1_home {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.section_home_one hr {
  border: 2px solid #dc170f;
  width: 15%;
}
.section_home_one .section_home_text {
  margin-top: 5%;
  position: relative;
  width: 50%;
  left: 25%;
}
.section_home_one .section_home_text #so_text {
  line-height: 37px;
  font-size: 22px;
  color: #454747;
  text-align: center;
  position: relative;
  top: -50px;
}

.section_home_two {
  margin-top: 10%;
  background-color: #fff5f5;
  height: 745px;
  padding: 70px 0 0 0;
}
.section_home_two #h1_home {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.section_home_two hr {
  border: 2px solid #dc170f;
  width: 15%;
}
.section_home_two #text_sec_two {
  font-size: 22px;
  text-align: center;
  line-height: 37px;
  margin-top: 25px;
}
.section_home_two .box_home {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 75%;
  gap: 25px;
  margin-top: 5%;
  margin-left: 13%;
}
.section_home_two .box_home_item {
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.section_home_two .box_home_item img {
  width: 90px;
  height: 75px;
}
.section_home_two .box_home_item #link_title_home {
  color: #454747;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
.section_home_two .box_home_item #p_home_box {
  font-size: 16px;
  line-height: 28px;
  margin-top: 2px;
}
.section_home_two .box_home_item button {
  border: 1px solid white;
  color: #dc170f;
  font-weight: 600;
  background-color: white;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 15%;
  cursor: pointer;
}

.desck_article_home {
  margin-top: 100px;
  width: 70%;
  position: relative;
  left: 10%;
}
.desck_article_home #h1_home {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 50px;
}
.desck_article_home hr {
  border: 2px solid #dc170f;
  width: 15%;
}
.desck_article_home .box_home {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 7fr 3fr;
  grid-template-areas: "form info";
  grid-gap: 50px;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin: 80px;
  text-align: left;
}
.desck_article_home .box_home .form_home {
  grid-area: form;
}
.desck_article_home .box_home .form_home .form_box_home {
  line-height: 50px;
  margin-top: 40px;
}
.desck_article_home .box_home .form_home .form_box_home .span_form_home {
  font-size: 22px;
  font-weight: 700;
}
.desck_article_home .box_home .form_home .form_box_home .p_form_home {
  font-size: 18px;
  line-height: 27px;
}
.desck_article_home .box_home .info_home {
  grid-area: info;
  height: 520px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.desck_article_home .box_home .info_home .info_text_home .p_info_home {
  font-size: 20px;
  line-height: 38px;
  font-style: italic;
  padding: 90px 90px 0 40px;
}
.desck_article_home .box_home .info_home .info_name_home {
  display: flex;
  width: 65%;
  padding-left: 50px;
  margin-top: 70px;
}
.desck_article_home .box_home .info_home .info_name_home #img_author_info {
  width: 80px;
  height: 80px;
}
.desck_article_home .box_home .info_home .info_name_home .description_author {
  padding-left: 20px;
  width: 500px;
  margin-top: 5px;
}
.desck_article_home .box_home .info_home .info_name_home .description_author #des_info_home {
  margin-top: 10px;
  line-height: 28px;
}

#line {
  position: relative;
  top: -250px;
  color: #aba7a7;
}

.section_home_three {
  position: relative;
  width: 100%;
  top: -150px;
}
.section_home_three #h1_home {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 50px;
}
.section_home_three .section_home_btn {
  margin-left: 43%;
  margin-top: 80px;
}
.section_home_three .section_home_btn a {
  padding: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #dc170f;
  width: 345px;
  height: 52px;
}
.section_home_three .section_home_btn a:hover {
  background-color: #626565;
}

.section_home_four {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 900px;
  background-color: #dff0fc;
}
.section_home_four #h1_home {
  padding-top: 5%;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.section_home_four hr {
  border: 2px solid #dc170f;
  width: 15%;
}
.section_home_four .section_home_text {
  margin-top: 3%;
  position: relative;
  width: 50%;
  left: 25%;
}
.section_home_four .section_home_text #so_text {
  line-height: 37px;
  font-size: 20px;
  color: #454747;
  text-align: center;
}
.section_home_four .section_home_steps {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}
.section_home_four .section_home_steps .home_step {
  width: 280px;
  height: 350px;
}
.section_home_four .section_home_steps .home_step .step_number {
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: 19px;
  text-transform: uppercase;
}
.section_home_four .section_home_steps .home_step .step_name {
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  margin: 0px 0px 20px;
  padding: 0px 0px 20px;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid #626565;
}
.section_home_four .section_home_steps .home_step .step_text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 25px;
  color: #454747;
}
.section_home_four .text_bottom {
  text-align: center;
  width: 50%;
  margin-left: 25%;
}
.section_home_four .text_bottom p {
  line-height: 36px;
  font-size: 18px;
  font-style: italic;
  color: #626565;
  margin-bottom: 50px;
}
.section_home_four .text_bottom a {
  color: white;
  background-color: #dc170f;
  width: 300px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.nav-link {
  color: #000000;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 113px;
}

.dropdown-menu {
  width: 50vw;
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 1px;
  top: 61px;
  padding: 50px 25px;
  left: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* Create a Flexbox layout for the row */
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
.header-row > div {
  width: 33.3333333333%; /* Adjust the width as needed */
  flex: 0 0 auto; /* Prevent flex items from shrinking */
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.footer {
  background-color: #242427;
  margin-top: auto;
}
.footer #big_footer #primary_footer {
  background-position: calc(100% - 30px);
  color: #acacad;
  background-repeat: no-repeat;
  background-image: url("https://www.digiteum.com/wp-content/themes/blake/images/footer-map.svg");
  font-size: 15px;
  max-height: 450px;
}
.footer #big_footer #primary_footer .footer-container {
  width: 70%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url("https://www.digiteum.com/wp-content/themes/blake/images/footer-top-logo.svg");
  background-position: 0px 169px;
  color: #acacad;
  font-size: 15px;
  margin: 0px auto;
  padding: 43px 0px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper {
  display: flex;
  row-gap: 100px;
  column-gap: 100px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp {
  color: #acacad;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  flex: 5;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block {
  color: #acacad;
  font-size: 15px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__about {
  color: #acacad;
  font-size: 15px;
  text-align: left;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__about h4 {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 12px;
  margin: 0px 0px 10px;
  text-transform: uppercase;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__about p {
  color: #dadada;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 20.4px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column {
  color: #acacad;
  display: flex;
  font-size: 15px;
  margin: 40px 0px 0px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .left-nav {
  color: #acacad;
  font-size: 15px;
  text-align: left;
  width: 300px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .left-nav .list-menu.two-column {
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .left-nav .list-menu.two-column li {
  color: #666666;
  display: list-item;
  font-family: "Open Sans";
  line-height: 24px;
  margin: 0px 0px 4px;
  padding: 0px 0px 6px;
  text-align: left;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .left-nav .list-menu.two-column li a {
  color: #dadada;
  display: inline;
  text-decoration: none;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
  text-transform: capitalize;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .left-nav h4.footer-title-widget {
  color: #ffffff;
  display: inline;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .right-nav {
  text-align: left;
  color: #acacad;
  font-size: 15px;
  margin: 0px 0px 0px 54px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .right-nav h4.footer-title-widget {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  margin: 0px 0px 9px;
  text-transform: uppercase;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .right-nav .list-menu {
  color: #acacad;
  font-size: 15px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .right-nav .list-menu li {
  color: #666666;
  display: list-item;
  line-height: 24px;
  margin: 0px 0px 4px;
  text-align: left;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-menu-wrp .footer-middle-block .footer-sidebar.footer__menu.two-column .right-nav .list-menu li a {
  color: #dadada;
  display: inline;
  font-family: Open Sans;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch {
  color: #acacad;
  font-size: 15px;
  flex: 3;
  text-align: left;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch img {
  color: #dc170f;
  display: inline;
  line-height: 28px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch .clutch__text {
  color: #dadada;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 17px 0px 0px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch .footer-sidebar.footer__career .textwidget {
  color: #acacad;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 20.4px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch .footer-sidebar.footer__career .textwidget .footer-title-widget {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 12px;
  margin: 0px 0px 5px;
  text-transform: uppercase;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch .footer-sidebar.footer__career .textwidget .footer-title-widget a {
  color: inherit;
  text-decoration: none;
  color: #ffffff;
  display: inline;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch .footer-sidebar.footer__career .textwidget p {
  color: #dadada;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 20.4px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch .footer-sidebar.footer__career .textwidget p a {
  color: #dc170f;
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 20.4px;
  margin: 5px 0px 0px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__clutch .footer-sidebar.footer__career .textwidget p a:hover {
  text-decoration: none;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__location {
  color: #acacad;
  font-size: 15px;
  margin: 55px 0px 0px;
  flex: 2;
  text-align: left;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__location h4 {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  margin: 0px 0px 10px;
  text-transform: uppercase;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__location .textwidget div {
  color: #acacad;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 23.8px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__location .textwidget b {
  color: #acacad;
  display: inline;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 23.8px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__location .textwidget p {
  color: #dadada;
  font-size: 12px;
  letter-spacing: 0.2px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__location .textwidget a {
  color: #acacad;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  letter-spacing: 0.2px;
}
.footer #big_footer #primary_footer .footer-container .footer-top-wrapper .footer-sidebar.footer__location .textwidget a:hover {
  color: #dc170f;
}
.footer #big_footer #secondary_footer {
  background-color: #1e1e21;
}
.footer #big_footer #secondary_footer .footer-container {
  width: 70%;
  margin: 0 auto;
  background-color: #1e1e21;
  color: #687177;
  font-size: 15px;
  line-height: 24.4286px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-3 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-5 {
  padding: 0px 15px;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-5 a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-5 a:hover {
  color: #dc170f;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-4 {
  padding: 0px 15px;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-4 ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-4 ul a {
  color: white;
  transition: 0.2s ease-in-out;
}
.footer #big_footer #secondary_footer .footer-container .col-xs-12.col-md-4 ul a:hover {
  color: #dc170f;
}

/* ===== Header styles ===== */ /* ===== End header styles ===== */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* typography.scss */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
/* Add more @font-face rules for other font weights and styles */
h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

html,
body,
* {
  font-family: "Open Sans";
}

am-text-bold {
  font-weight: bold;
}
am-text-bold .section-title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

.container_service {
  position: relative;
  text-align: center;
  margin: 0;
}
.container_service .header_img {
  margin: 0;
}
.container_service .header_img #image {
  width: 100%;
  height: 818px;
  margin: 0;
}
.container_service .header_img .centered_service_design {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}
.container_service .header_img .centered_service_design .title_header {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 78px;
  width: 100%;
  font-weight: 400;
}
.container_service .header_img .centered_service_design .banner_text #p_banner_text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 27px;
  width: 600px;
  margin-left: 95px;
}
.container_service .header_img .centered_service_design .btn_header {
  margin-top: 10%;
}
.container_service .header_img .centered_service_design .btn_header #btn_contact_header {
  font-size: 20px;
  word-spacing: 5px;
  text-decoration: none;
  padding: 15px;
  color: white;
  background-color: #dc170f;
}

.section_one {
  position: relative;
  color: black;
  margin-top: 10%;
  width: 100%;
}
.section_one .section_text {
  margin-top: 55px;
  position: relative;
  width: 50%;
  left: 25%;
}

.section_two {
  margin-top: 10%;
}
.section_two .box {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1140px;
  gap: 6%;
  margin-top: 50px;
  margin-left: 15%;
}
.section_two .box_item {
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.section_two .box_item .box_img {
  width: 90px;
  height: 75px;
  margin-bottom: 30px;
}
.section_two .box_item .link_ser_design {
  color: #454747;
  font-size: 17px;
  text-transform: uppercase;
}
.section_two .box_item .link_ser_design:hover {
  text-decoration: none;
}
.section_two .box_item #p_box {
  font-size: 16px;
  line-height: 28px;
  margin-top: 15px;
}
.section_two #btn_art_ser {
  margin-left: 42%;
  margin-top: 5%;
}

.section_three {
  position: relative;
  color: black;
  margin-top: 10%;
  width: 100%;
}
.section_three .section_text {
  margin-top: 55px;
  position: relative;
  width: 50%;
  left: 25%;
}
.section_three .logo_partner {
  position: relative;
  width: 50%;
  left: 20%;
  margin-bottom: 10%;
}
.section_three .logo_partner .logo_box {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 70%;
  gap: 7%;
}
.section_three .logo_partner .logo_box .logo_item {
  width: 100%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.section_three .logo_partner .logo_box .logo_item #logo_img {
  width: 155px;
  height: 110px;
}

.section_five {
  position: relative;
  color: black;
  margin: 10% 0 0 0;
  width: 100%;
}
.section_five .section_text {
  margin-top: 5%;
  position: relative;
  width: 50%;
  left: 25%;
}

.section_six {
  width: 100%;
  margin: 10% 0 0 0;
  position: relative;
  text-align: center;
}
.section_six img {
  width: 100%;
}
.section_six .centered_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 70%;
}
.section_six .centered_logo .banner_logo img {
  width: 60px;
  height: 65px;
}
.section_six .centered_logo .banner_logo p {
  margin-top: 40px;
  font-size: 16px;
  color: white;
}

.section_seven {
  position: relative;
  color: black;
  margin: 10% 0 0 0;
  width: 100%;
}
.section_seven .section_text {
  margin-top: 5%;
  position: relative;
  width: 50%;
  left: 25%;
}
.section_seven .section_articles {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70%;
  gap: 6%;
  margin-top: 35px;
  margin-left: 13%;
}
.section_seven .section_article {
  width: 100%;
  padding: 8%;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: white;
  float: left;
}
.section_seven .section_article .article_title {
  margin-top: 15px;
  width: 360px;
}
.section_seven .section_article .article_title .link_article_ser {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 600;
}
.section_seven .section_article .article_title .link_article_ser:hover {
  color: #454747;
  text-decoration: none;
}
.section_seven .section_article .p_article_ser {
  font-size: 15px;
  line-height: 24px;
  margin-top: 10px;
  width: 360px;
}

.section_eight_des {
  position: relative;
  text-align: center;
  margin: 5% 0 0 0;
  width: 100%;
}
.section_eight_des .bottom_img {
  margin: 0;
}
.section_eight_des .bottom_img #img_btm {
  width: 100%;
  height: 640px;
  margin: 0;
}
.section_eight_des .bottom_img .centered_art {
  margin-top: 10%;
  position: absolute;
  top: 35%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  width: 100%;
}
.section_eight_des .bottom_img .centered_art .grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 80%;
  padding: 5%;
  margin-left: 12%;
}
.section_eight_des .bottom_img .centered_art .grid_btm {
  text-align: center;
  width: 353px;
  height: 350px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.section_eight_des .bottom_img .centered_art .grid_btm .img_grid_des {
  width: 60px;
  height: 60px;
  position: relative;
  bottom: 10%;
}
.section_eight_des .bottom_img .centered_art .grid_btm .grid_item {
  padding: 0 25px 10px 25px;
}
.section_eight_des .bottom_img .centered_art .grid_btm .grid_item .label_grid_des {
  color: #454747;
  font-size: 18px;
  font-weight: 600;
}
.section_eight_des .bottom_img .centered_art .grid_btm .grid_item .pb_grid {
  font-size: 14px;
  line-height: 24px;
  color: #454747;
  text-align: left;
  padding: 15px;
}

.section_nine {
  position: relative;
  color: black;
  margin: 10% 0 0 0;
  width: 100%;
}
.section_nine .h1_ser_design {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}
.section_nine .section_text {
  margin-top: 5%;
  position: relative;
  width: 50%;
  left: 25%;
}

.section_teen {
  background-color: #fff5f5;
  position: relative;
  color: black;
  width: 100%;
  padding: 5% 0 5% 0;
  width: 100%;
  margin-bottom: -5%;
}
.section_teen .list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  position: relative;
  left: 25%;
}
.section_teen .list .list_item {
  font-size: 14px;
}
.section_teen .list .list_item .h6_ser_des {
  font-weight: 600;
  margin-top: 55px;
  font-size: 14px;
}
.section_teen .list .list_item .ul_ser_des {
  margin-top: 30px;
  gap: 100px;
}
.section_teen .list .list_item .ul_ser_des .li_ser_des {
  list-style-type: square;
  line-height: 30px;
}
.section_teen .list .list_item .ul_ser_des ::marker {
  color: #dc170f;
}

.hr_service {
  border: 2px solid #dc170f;
  width: 20%;
  margin-top: 15px;
}

.h1_ser_design {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}

#so_text {
  line-height: 28px;
  font-size: 18px;
  color: #454747;
  text-align: left;
  width: 720px;
  margin-left: 55px;
  margin-top: 30px;
}

/* typography.scss */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
/* Add more @font-face rules for other font weights and styles */
h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

html,
body,
* {
  font-family: "Open Sans";
}

am-text-bold {
  font-weight: bold;
}
am-text-bold .section-title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

.sectec_two {
  margin-top: 10%;
}
.sectec_two .box_tec {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 70%;
  gap: 6%;
  margin-top: 5%;
  margin-left: 13%;
}
.sectec_two .box_item_tec {
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.sectec_two .box_item_tec .box_img_tec {
  width: 90px;
  height: 75px;
}
.sectec_two .box_item_tec .p_box_tec {
  color: #454747;
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
.sectec_two #btn_ser_tec_box {
  margin-left: 42%;
  margin-top: 5%;
}

.section_four_ser {
  position: relative;
  color: black;
  margin: 5% 0 0 0;
  width: 100%;
  background-color: #dff0fc;
  padding: 7% 0 7% 0;
}
.section_four_ser .section_text {
  margin-top: 35px;
  position: relative;
  width: 50%;
  left: 25%;
}
.section_four_ser .box_tec_des {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 70%;
  gap: 2%;
  margin-top: 100px;
  margin-left: 13%;
}
.section_four_ser .box_item_tec_des {
  font-size: 30px;
  text-align: center;
  width: 285px;
  height: 250px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: white;
}
.section_four_ser .box_item_tec_des .box_img_ser {
  width: 60px;
  height: 60px;
  margin-top: -55px;
}
.section_four_ser .box_item_tec_des .label_ser_des {
  color: #454747;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
}
.section_four_ser .box_item_tec_des .p_box {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 10px;
  margin-top: 12px;
}
.section_four_ser button {
  background-color: #dc170f;
  color: white;
  font-size: 18px;
  height: 45px;
  width: 390px;
  border: none;
  margin-left: 37%;
  margin-top: 5%;
  cursor: pointer;
}
.section_four_ser button:hover {
  background-color: #454747;
}

/*.sec_five {
    background-color: #fff5f5;
    position: relative;
    color: black;
    width: 100%;
    padding: 7% 0 7% 0;
    width: 100%;


    .list {
        display: flex;
        justify-content: space-between;
        width: 35%;
        position: relative;
        left: 30%;

        .list_item {
            font-size: 14px;

            li {
                list-style-type: square;
                line-height: 30px;
            }

            ::marker {
                color: $primary-color;
            }
        }
    }
}*/
.section_six {
  width: 100%;
  margin: 10% 0 0 0;
  position: relative;
  text-align: center;
}
.section_six img {
  width: 100%;
}
.section_six .centered_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 70%;
}
.section_six .centered_logo .banner_logo img {
  width: 60px;
  height: 65px;
}
.section_six .centered_logo .banner_logo p {
  margin-top: 40px;
  font-size: 16px;
  color: white;
}

.section_text {
  margin-top: 90px;
  position: relative;
  width: 50%;
  left: 25%;
}

.logo_partner {
  position: relative;
  width: 50%;
  left: 20%;
}
.logo_partner .logo_box {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 85%;
  gap: 10%;
}
.logo_partner .logo_box .logo_item {
  width: 100%;
  padding: 5%;
  justify-content: center;
  align-items: center;
}
.logo_partner .logo_box .logo_item #logo_img {
  width: 155px;
  height: 110px;
}

.section_nine {
  position: relative;
  color: black;
  margin: 10% 0 0 0;
  width: 100%;
}
.section_nine h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}
.section_nine hr {
  border: 2px solid #dc170f;
  width: 15%;
}
.section_nine .section_text {
  margin-top: 5%;
  position: relative;
  width: 50%;
  left: 25%;
}
.section_nine button {
  background-color: #dc170f;
  color: white;
  font-size: 18px;
  height: 45px;
  width: 390px;
  border: none;
  margin-left: 37%;
  margin-top: 5%;
  cursor: pointer;
}
.section_nine button:hover {
  background-color: #454747;
}

.art_clients {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.art_clients .art_client {
  margin-left: 3%;
  width: 20%;
}
.art_clients .art_client .artclient_title {
  position: relative;
  background-image: url(../../public/services/pages/images/comma-com.svg);
  background-repeat: no-repeat;
  height: 200px;
}
.art_clients .art_client .artclient_title .title_ser_des {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  position: relative;
  bottom: -50px;
  left: 15px;
}
.art_clients .art_client .artclient_body {
  margin-top: -60px;
}
.art_clients .art_client .artclient_body .client_name {
  position: relative;
  top: -39px;
  left: 10px;
  font-weight: 600;
  font-size: 14px;
}
.art_clients .art_client .artclient_body .client_job {
  position: relative;
  top: -30px;
  left: 74px;
  font-size: 15px;
}
.art_clients .art_client .artclient_body .p_art_ser {
  font-size: 14px;
  color: #454747;
  font-style: italic;
  line-height: 22px;
}

/* typography.scss */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../../src/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
/* Add more @font-face rules for other font weights and styles */
h1 {
  font-size: 52px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

html,
body,
* {
  font-family: "Open Sans";
}

am-text-bold {
  font-weight: bold;
}
am-text-bold .section-title {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}

.container_bs {
  position: relative;
  text-align: left;
}
.container_bs .bs_img #img_blog_sample {
  width: 100%;
  height: 650px;
  opacity: 0.7;
}
.container_bs .bs_img .centered_bs {
  position: absolute;
  top: 50%;
  left: 34%;
  color: white;
  transform: translate(-50%, -50%);
}
.container_bs .bs_img .centered_bs .title_bs {
  letter-spacing: -2px;
  line-height: 56px;
  text-align: left;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  margin: 15px 0px 0px;
}
.container_bs .bs_img .centered_bs .desc_bs {
  width: 100%;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  margin-top: 45px;
}
.container_bs .bs_img .centered_bs #btn_contact_bs {
  margin-top: 25px;
  padding: 10px;
  background-color: white;
  color: #dc170f;
  border: none;
  width: 210px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}
.container_bs .bs_img .centered_bs #btn_contact_bs:hover {
  color: #454747;
}

.bs_container {
  margin-left: 14%;
}
.bs_container .breadcrumb_bs {
  margin-left: 50px;
  margin-top: 30px;
}
.bs_container .breadcrumb_bs .ul_breadcrumb_bs {
  list-style: none;
}
.bs_container .breadcrumb_bs .ul_breadcrumb_bs .li_breadcrumb_bs {
  font-size: 12px;
  display: inline;
}
.bs_container .breadcrumb_bs .ul_breadcrumb_bs .li_breadcrumb_bs .link_breadcrumb_bs:hover {
  text-decoration: none;
}
.bs_container .breadcrumb_bs .ul_breadcrumb_bs .li_breadcrumb_bs + .li_breadcrumb_bs:before {
  padding: 8px;
  color: black;
  content: "/ ";
}
.bs_container .art_header {
  margin-top: 75px;
  margin-left: 40px;
}
.bs_container .art_header .ul_info_bs {
  list-style: none;
}
.bs_container .art_header .ul_info_bs .li_info_bs {
  color: #3a3939;
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}
.bs_container .art_header .ul_info_bs .li_info_bs .fa-solid {
  margin: 0 15px 0 10px;
  color: #757979;
}
.bs_container .art_header .ul_info_bs .li_info_bs .fa-regular {
  margin: 0 15px 0 10px;
  color: #757979;
}
.bs_container .article_blog {
  margin-left: 40px;
  width: 55%;
}
.bs_container .article_blog .head .h1_bs {
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 54px;
  margin: 30px 0 0 0;
}
.bs_container .article_blog .head .p1_bs {
  color: #666666;
  line-height: 28px;
  font-size: 16px;
  font-style: italic;
  margin-top: 25px;
  width: 723px;
}
.bs_container .article_blog .head .p2_bs {
  color: #666666;
  line-height: 28px;
  font-size: 16px;
  font-style: italic;
  margin-top: 20px;
  width: 723px;
}
.bs_container .article_blog .head #img1_bs {
  width: 723px;
  height: 1810px;
  margin-top: 5%;
}
.bs_container .article_blog .body_bs {
  margin-top: 5%;
}
.bs_container .article_blog .body_bs .h3_bs {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}
.bs_container .article_blog .body_bs .ol_bs {
  margin-top: 30px;
  margin-left: 25px;
  list-style-type: decimal;
}
.bs_container .article_blog .body_bs .ol_bs .li_desc_bs {
  color: #666666;
  line-height: 32px;
}
.bs_container .article_blog .body_bs .ol_bs .li_desc_bs strong {
  font-size: 18px;
  font-weight: 700;
}
.bs_container .article_blog .body_bs .p_italic_bs {
  font-style: italic;
  color: #666666;
  margin-top: 5%;
  margin-bottom: 10%;
  line-height: 28px;
}
.bs_container .article_blog .conclusion {
  margin-top: 5%;
}
.bs_container .article_blog .conclusion .h3_bs {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}
.bs_container .article_blog .conclusion .p_consl_bs {
  color: #666666;
  line-height: 30px;
  margin-top: 15px;
}
.bs_container .article_blog .conclusion .ol_bs {
  margin-top: 30px;
  margin-left: 25px;
  list-style-type: decimal;
}
.bs_container .article_blog .conclusion .ol_bs .li_desc_bs {
  color: #666666;
  line-height: 32px;
}
.bs_container .article_blog .conclusion .ol_bs .li_desc_bs strong {
  font-size: 19px;
}
.bs_container .article_blog .social_media {
  margin-top: 15%;
  margin-bottom: 15%;
}
.bs_container .article_blog .social_media .ul_bs {
  list-style: none;
}
.bs_container .article_blog .social_media .ul_bs .li_social_bs {
  font-size: 18px;
  display: inline;
}
.bs_container .article_blog .social_media .ul_bs .li_social_bs .link_social_bs {
  text-decoration: none;
  color: #757979;
}
.bs_container .article_blog .social_media .ul_bs .li_social_bs .fa-brands {
  margin: 15px 5px 0 10px;
  color: #757979;
}
.bs_container .article_blog .social_media .ul_bs .li_social_bs .fa-envelope {
  margin: 15px 5px 0 10px;
  color: #757979;
}

body {
  font-family: "Open Sans";
}

a {
  color: #dc170f;
}

h1 {
  font-size: 52px;
  font-family: "Open Sans";
}

h2 {
  font-size: 32px;
  font-family: "Open Sans";
}

h3 {
  font-size: 24px;
  font-family: "Open Sans";
}

h4 {
  font-size: 21px;
  font-family: "Open Sans";
}

h5 {
  font-size: 18px;
  font-family: "Open Sans";
}

h6 {
  font-size: 16px;
  font-family: "Open Sans";
}

.block-title {
  font-size: 32px;
  font-weight: 700;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
