@use "variables";
@use "typography";
@use "mixins";

.blog-header {
    @include mixins.fullwidth;

    background-image: url('../../images/blog-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .text-blog-header {
        margin-left: 22%;

        h1 {
            font-size: 52px;
            font-weight: 600;
            margin-bottom: 3%;
        }

        p {
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            text-align: left;
        }
    }
}




.blog-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 5%;

    .menu-blog {
        display: flex;
        flex-direction: column;
        width: 18%;

        .search-blog {
            width: 100%;
            height: 50px;


            .search {
                padding: 15px 50px 15px 15px;
                width: 100%;
                border: 2px solid #d7d5d5;
                border-radius: 3px;
                font-size: 12px;
                font-weight: 600;
            }
        }

        h6 {
            font-size: 13px;
            font-weight: 800;
            text-transform: uppercase;
            margin: 15% 0;
        }

        ul {
            border-right: 1px solid #e7e7e7;

            li {
                border-bottom: 1px solid #e7e7e7;

                a {
                    color: #666666;
                    display: list-item;
                    padding: 16px 0px 12px;
                    text-align: left;
                    text-decoration: none;
                    font-size: 14px;

                    &:hover {
                        color: variables.$primary-color;
                        text-decoration: underline;
                    }
                }


            }
        }

    }

    .card-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 70%;


        .card {
            display: flex;
            flex-flow: row wrap;
            width: 42.5%;
            //height: 70vh;
            box-shadow: 0px 0px 5px 0px #d0d3d4;
            margin-bottom: 5%;

            img {
                width: 100%;
                height: 35vh;
            }


            .article {
                padding: 6%;
                line-height: 24px;
                padding-top: 10px;
                text-align: left;

                p {
                    color: #687177;
                    font-size: 15px;
                    line-height: 24.4286px;
                    margin: 15px 0px;
                    text-align: left;
                }

                a {
                    color: #373737;
                    display: inline;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    line-height: 27px;
                    text-align: left;
                    text-decoration: none;

                    &:hover {
                        color: #dd170f;
                    }
                }

                .comments {
                    color: #777777;
                    font-size: 11px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    line-height: 19.25px;
                    text-align: left;
                    text-transform: uppercase;

                    .fa-regular {
                        padding: 10px;
                    }
                }

            }


        }
    }
}

@media (max-width: 950px) {

    .blog-header {

        height: 20rem;

        .text-blog-header {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            padding: 5%;

            h1 {
                font-size: 28px;
            }

            p {
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .blog-container {
        flex-flow: column wrap;

        .menu-blog {
            width: 90%;
            margin-bottom: 15%;
        }

        .card-container {
            flex-flow: column wrap;
            width: 90%;
        
            .card {
                flex-flow: column wrap;
                width: 100%;
                margin-bottom: 15%;
            }
        }
        .blog-btn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

    }
}