/* Style the tab buttons */
        .tab {
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 20px;
            border-top: 1px solid #ddd;
        }

        iframe {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            width: 100%;
        }

        #messageBlock {
            position: fixed;
            bottom: 0;
            right: 5px;
            min-width: 400px;
            transition: all 0.3s ease-in-out;
        }