@use "variables";
@use "typography";
@use "mixins";
.header-banner {
  @include mixins.fullwidth;
  background-image: url(../../images/About-us-header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 78px;
  }
  p {
    padding: 2% 0;
    width: 40%;
    font-size: 18px;
    line-height: 30px;
  }
}
.about-container {
  @include mixins.fullwidth;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .about-block-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: 32px;
      text-transform: uppercase;
    }
    hr {
      border: 2px solid variables.$primary-color;
      width: 20%;
    }
    section {
      width: 50%;
      p {
        text-align: left;
        font-size: 18px;
        line-height: 32px;
        span {
          font-weight: 600;
        }
      }
    }
  }
  .about-facts {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    h3 {
      font-size: 28px;
      text-transform: uppercase;
    }
    img {
      width: 60%;
      height: 382px;
    }
  }
  .leadership-grid-about {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    h3 {
      font-size: 28px;
      text-transform: uppercase;
    }
    .leadership-articles {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      width: 75%;
      .card-about {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: 30%;
        margin-top: 2%;
        img{
          width: 90%;
          height: 70%;
        }
        label {
          color: #474747;
          font-size: 14px;
          font-weight: 600;
          line-height: 50px;
        }
        p {
          color: #888888;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
  .section-help-about{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    h2{
      padding-bottom: 3%;
    }
  }
}

@media (max-width: 800px){
  .about-container{
    .leadership-articles{
      flex-flow: row wrap;
      width: 100%;
      .card-about {
        flex-flow: row wrap;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
}