@use "variables";
@use "typography";
@use "mixins";

.blog-sample-header {
  @include mixins.fullwidth;

  background-image: url("../../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: white;

  .text-header-blog-sample {
    width: 50%;
    margin-left: 15%;
    text-align: left;

    h1 {
      font-size: 60px;
      font-weight: 600;
      margin-bottom: 3%;
    }

    p {
      font-size: 28px;
      font-weight: 600;
      line-height: 30px;
      margin: 5% 0;
      width: 50%;
    }
  }
}

.blog-sample-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row-reverse wrap;

  .breadcrumb-blog-sample {
    width: 100%;
    line-height: 30px;
    margin: 2% 0 5% 4%;

    ul {
      list-style: none;

      li {
        font-size: 12px;
        display: inline;

        a {
          margin: 0 10px 0 10px;

          &:hover {
            text-decoration: none;
          }
        }
      }

      li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
      }
    }
  }

  .informations-article-blog-sample {
    width: 100%;
    line-height: 30px;
    margin: 2% 0 0 4%;

    ul {
      list-style: none;

      li {
        color: #3a3939;
        display: inline;
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;

        .fa-solid {
          margin: 0 15px 0 10px;
        }

        .fa-regular {
          margin: 0 15px 0 10px;
        }
      }
    }
  }

  .article-blog-sample {
    width: 55%;

    .head-blog-sample {
      width: 100%;

      h1 {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -2px;
        line-height: 54px;
        margin: 3% 0 0 0;
      }

      p {
        color: #666666;
        line-height: 28px;
        font-size: 16px;
        font-style: italic;
        margin-top: 25px;
      }
    }

    img {
      width: 100%;
      margin-top: 5%;
    }

    .body-blog-sample {
      margin-top: 5%;

      h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
      }

      ol {
        margin-top: 30px;
        margin-left: 25px;
        list-style-type: decimal;

        li {
          color: #666666;
          line-height: 32px;

          strong {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }

      p {
        font-style: italic;
        color: #666666;
        margin-top: 5%;
        margin-bottom: 10%;
        line-height: 28px;
      }
    }

    .conclusion-blog-sample {
      margin-top: 5%;

      h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
      }

      p {
        color: #666666;
        line-height: 30px;
        margin-top: 15px;
      }

      ol {
        margin-top: 30px;
        margin-left: 25px;
        list-style-type: decimal;

        li {
          color: #666666;
          line-height: 32px;

          strong {
            font-size: 19px;
          }
        }
      }
    }


  }

  .table-content {
    width: 18rem;
    height: 40vh;
    box-shadow: 5px 5px 5px 5px #d0d3d4;
    padding: 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    background-color: white;

    h3 {
      text-transform: uppercase;
      font-weight: 600;
    }

    hr {
      width: 50%;
      border: 2px solid variables.$primary-color;
    }

    ul {
      li {
        a {
          font-size: 12px;
          color: #3a3939;
          line-height: 24px;

          &:hover {
            text-decoration: none;
            color: variables.$primary-color;
          }
        }
      }
    }
  }




  .faq-section {
    margin: 15% 0;
    border: 1px solid #bdc0c0;
    padding: 3%;

    h3 {
      font-size: 22px;
      font-weight: 700;
      line-height: 33px;
      text-transform: uppercase;
    }

    hr {
      width: 8%;
      border: 3px solid variables.$primary-color;
    }

    ul {
      list-style-type: none;

      li {
        a {
          color: variables.$text-color;
          font-size: 14px;
          line-height: 42px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}





.automize-team-section {
  @include mixins.fullwidth;
  background-color: variables.$information-light-color;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .team-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;

    .left-automize-team {
      display: flex;
      flex-direction: row;
      gap: 5%;
      width: 50%;

      img {
        width: 10rem;
        height: 10rem;
      }

      .info-team {
        a {
          color: variables.$text-color;
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;

          &:hover {
            color: variables.$primary-color;
          }
        }

        p {
          line-height: 36px;
          font-size: 18px;

          .fa-linkedin {
            color: variables.$primary-color;
          }
        }
      }
    }

    .right-automize-team {
      width: 50%;

      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}


.related-articles-section {
  margin: 5%;

  h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
  }

  hr {
    width: 8%;
    border: 3px solid variables.$primary-color;
  }

  .articles-blog-sample {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;

    .article-blog-sample {
      img {
        width: 22rem;
        height: 10rem;
      }

      p {
        margin-top: 2%;

        a {
          line-height: 24px;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          color: variables.$text-color;

          &:hover {
            color: variables.$primary-color;
          }
        }
      }
    }
  }
}


.social-media {
  margin: 5%;

  ul {
    list-style: none;

    li {
      font-size: 18px;
      display: inline;
      font-weight: 600;

      a {
        text-decoration: none;
        color: #757979;
      }

      .fa-brands {
        margin: 15px 5px 0 10px;
        color: #757979;
      }

      .fa-envelope {
        margin: 15px 5px 0 10px;
        color: #757979;
      }
    }
  }
}



@media (max-width: 900px) {
  .blog-sample-header {
    height: 30rem;
    padding: 2%;
    .text-header-blog-sample {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      padding: 5%;
      width: 100%;
      text-align: center;

      h1 {
        font-size: 22px;
        line-height: 20px;
      }

      p {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .blog-sample-container {
    justify-content: center;
    flex-flow: column wrap;

    .article-blog-sample {
      width: 100%;
    }

    .table-content {
      margin-top: 5%;
      width: 17rem;
      height: 20rem;
      position: static;
      top: 0;
    }
  }



  
.automize-team-section {
  @include mixins.fullwidth;
  background-color: variables.$information-light-color;
  height: 60vh;
  margin: 5% 0;
  .team-section {
    flex-direction: column;
    .left-automize-team {
      width: 100%;

      img {
        width: 10rem;
        height: 10rem;
      }

      .info-team {
        a {
          font-size: 22px;
        }

        p {
          line-height: 36px;
          font-size: 20px;
        }
      }
    }

    .right-automize-team {
      width: 100%;
      margin: 5% 0 0 0;
      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}


.related-articles-section {
  margin: 5% 0;
  height: 80vh;

  .articles-blog-sample {
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
    gap: 10%;
   
  }
}
.social-media{
  margin: 10% 0;
}
}