@use "variables";
@use "typography";


.container_blog {
    position: relative;
    text-align: left;

    .blog_img {

        #img_header_blog {
            width: 100%;
            height: 460px;
        }

        .centered_blog {
            position: absolute;
            top: 50%;
            left: 34%;
            color: black;
            transform: translate(-50%, -50%);

            #title_blog {
                font-size: 52px;
                font-weight: 600;
            }

            .title_header_blog {
                margin-top: 60px;
                font-size: 24px;
                width: 100%;
                line-height: 28px;
                font-weight: 600;
            }

        }
    }
}





.grid_blog_container {
    display: grid;
    grid-template-areas: 'sidebar main right' 'sidebar left  second' 'sidebar sec left_1' 'sidebar footer footer';
    margin-top: 5%;
    margin-bottom: 10%;
    gap: 65px;
    width: 85%;
    justify-content: center;
    margin-left: 120px;



    .item1_blog {
        grid-area: sidebar;


        .search_wrapper {
            position: relative;
            width: 230px;
            height: 50px;

            &:after {
                position: absolute;
                top: 15px;
                left: 112%;
                content: "\f002";
                color: grey;
                font-size: 14px;
            }

            .search {
                padding: 15px 50px 15px 15px;
                width: 100%;
                border: 2px solid #d7d5d5;
                border-radius: 3px;
                font-size: 12px;
                font-weight: 600;
            }
        }

        #cat_title_blog {
            display: inline-block;
            font-size: 13px;
            font-weight: 800;
            line-height: 13px;
            text-align: left;
            text-transform: uppercase;
            margin-top: 55px;
            margin-bottom: 35px;
        }

        .ul_cat_blog {
            border-right: 1px solid #e7e7e7;

            .li_cat_blog {
                border-bottom: 1px solid #e7e7e7;

                .link_cat_blog {
                    color: #666666;
                    display: list-item;
                    padding: 16px 0px 12px;
                    text-align: left;
                    text-decoration: none;
                    font-size: 14px;
                }

                .link_cat_blog:hover {
                    color: variables.$primary-color;
                    text-decoration: underline;
                }
            }
        }

    }

    .item2_blog {
        grid-area: main;
        width: 380px;
        height: 550px;
    }

    .item3_blog {
        grid-area: right;
        width: 380px;
        height: 550px;

    }

    .item4_blog {
        grid-area: left;
        width: 380px;
        height: 550px;
    }

    .item5_blog {
        grid-area: second;
        width: 380px;
        height: 550px;
    }

    .item6_blog {
        grid-area: sec;
        width: 380px;
        height: 550px;
    }

    .item7_blog {
        grid-area: left_1;
        width: 380px;
        height: 550px;
    }

    .item8_blog {
        grid-area: footer;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn_post {
            margin-top: 60px;
            #btn_previous_blog {
                padding: 15px;
                background-color: #dd170f;
                color: white;
                font-size: 15px;
                border: none;
                width: 100%;
                cursor: pointer;
                text-decoration: none;
                color: white;

            }
        }

    }

    .card {
        width: 380px;
        height: 580px;
        box-shadow: #d0d3d4 0px 0px 5px 0px;

        .info_card {
            padding: 20px;

            .article {
                line-height: 24px;
                padding-top: 10px;
                text-align: left;

                .p_card_blog {
                    color: #687177;
                    font-size: 15px;
                    line-height: 24.4286px;
                    margin: 15px 0px;
                    text-align: left;
                }

                .link_title_card {
                    color: #373737;
                    display: inline;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    line-height: 27px;
                    text-align: left;
                    text-decoration: none;
                    &:hover{
                        color: #dd170f;
                    }
                }

                .link_title_card:hover {
                    color: #dd170f;
                }
            }

            .meta {
                .p_social_blog {
                    color: #777777; 
                    font-size: 11px; 
                    font-weight: 700; 
                    letter-spacing: 1px; 
                    line-height: 19.25px; 
                    text-align: left; 
                    text-transform: uppercase;
                    .fa-regular{
                        padding: 10px;
                    }
                }
            }
        }
    }

}