@use "variables";
@use "typography";
@use "mixins";

.blog-sample-header {
  @include mixins.fullwidth;

  background-image: url("../../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: white;

  .text-header-blog-sample {
    width: 50%;
    margin-left: 15%;
    text-align: left;

    h1 {
      font-size: 60px;
      font-weight: 600;
      margin-bottom: 3%;
    }

    p {
      font-size: 28px;
      font-weight: 600;
      line-height: 30px;
      margin: 5% 0;
      width: 50%;
    }
  }
}

.blog-sample-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row-reverse wrap;

  .breadcrumb-blog-sample {
    width: 100%;
    line-height: 30px;
    margin: 2% 0 5% 4%;

    ul {
      list-style: none;

      li {
        font-size: 12px;
        display: inline;

        a {
          margin: 0 10px 0 10px;

          &:hover {
            text-decoration: none;
          }
        }
      }

      li + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
      }
    }
  }

  .informations-article-blog-sample {
    width: 100%;
    line-height: 30px;
    margin: 2% 0 0 4%;

    ul {
      list-style: none;

      li {
        color: #3a3939;
        display: inline;
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;

        .fa-solid {
          margin: 0 15px 0 10px;
        }

        .fa-regular {
          margin: 0 15px 0 10px;
        }
      }
    }
  }

  .article-blog-sample {
    width: 55%;

    .head-blog-sample {
      width: 100%;

      h1 {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -2px;
        line-height: 54px;
        margin: 3% 0 0 0;
      }

      p {
        color: #666666;
        line-height: 28px;
        font-size: 16px;
        font-style: italic;
        margin-top: 25px;
      }
    }

    img {
      width: 100%;
      margin-top: 5%;
    }

    .body-blog-sample {
      margin-top: 5%;

      h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
      }

      ol {
        margin-top: 30px;
        margin-left: 25px;
        list-style-type: decimal;

        li {
          color: #666666;
          line-height: 32px;

          strong {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }

      p {
        font-style: italic;
        color: #666666;
        margin-top: 5%;
        margin-bottom: 10%;
        line-height: 28px;
      }
    }

    .conclusion-blog-sample {
      margin-top: 5%;

      h3 {
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
      }

      p {
        color: #666666;
        line-height: 30px;
        margin-top: 15px;
      }

      ol {
        margin-top: 30px;
        margin-left: 25px;
        list-style-type: decimal;

        li {
          color: #666666;
          line-height: 32px;

          strong {
            font-size: 19px;
          }
        }
      }
    }

    .social-media {
      margin: 15% 0;

      ul {
        list-style: none;

        li {
          font-size: 18px;
          display: inline;

          a {
            text-decoration: none;
            color: #757979;
          }

          .fa-brands {
            margin: 15px 5px 0 10px;
            color: #757979;
          }

          .fa-envelope {
            margin: 15px 5px 0 10px;
            color: #757979;
          }
        }
      }
    }
  }

  .table-content {
    width: 18rem;
    height: 50vh;
    box-shadow: 5px 5px 5px 5px #d0d3d4;
    padding: 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    background-color: white;

    h3 {
      text-transform: uppercase;
      font-weight: 600;
    }

    hr {
      width: 50%;
      border: 2px solid variables.$primary-color;
    }

    ul {
      li {
        a {
          font-size: 12px;
          color: #3a3939;
          line-height: 24px;

          &:hover {
            text-decoration: none;
            color: variables.$primary-color;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .blog-sample-header {
    height: 30rem;

    .text-header-blog-sample {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      padding: 5%;
      width: 100%;
      text-align: center;

      h1 {
        font-size: 22px;
        line-height: 20px;
      }

      p {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .blog-sample-container {
    justify-content: center;
    flex-flow: column wrap;

    .article-blog-sample {
      width: 100%;
    }

    .table-content {
      margin-top: 5%;
      width: 17rem;
      position: static;
      top: 0;
    }
  }
}
