@use "variables";
@use "typography";

.contactUs {
  position: absolute;
  width: 80%;
  padding: 40px;

  .top {
    width: 100%;
    margin: 15%;

    .title {
      #title_contact {
        margin-bottom: 50px;
        margin-left: 20px;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -2.4px;
      }
    }

    .box {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 5fr 4fr;
      grid-template-areas: "form info" "form map";
      grid-gap: 20px;
      width: 90%;
      margin-left: 20px;

      .contact {
        padding: 40px;
        background-color: white;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
      }

      .form {
        grid-area: form;
        height: 800px;
        width: 740px;

        .formBox {
          position: relative;
          width: 100%;

          .row50 {
            display: flex;
            gap: 25px;
          }

          .inputBox {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            width: 100%;

            .input_name_contact {
              color: #6f6f6f;
              margin-top: 10px;
              margin-bottom: 5px;
            }

            .input_contact {
              height: 60px;
              padding: 10px;
              font-size: 1.1em;
              outline: none;
              border: 1px solid #eee9e9;
              background-color: #f9f9f9;
            }
          }
        }

        .row100 {
          .inputBox {
            width: 100%;

            // input[type="submit"] {
            //   background: variables.$primary-color;
            //   color: white;
            //   border: none;
            //   font-size: 1.1em;
            //   font-weight: 500;
            //   max-width: 200px;
            //   cursor: pointer;
            //   padding: 14px 15px;
            // }

            textarea {
              padding: 10px;
              font-size: 1.1em;
              outline: none;
              border: 1px solid #ede8e8;
              resize: none;
              min-height: 220px;
              margin-bottom: 10px;
              background-color: #f9f9f9;
            }
          }

          .check {
            margin-bottom: 15px;

            .label_check {
              display: block;
              position: relative;
              padding-left: 35px;
              margin: 20px 0px 17px 0px;
              cursor: pointer;
              font-size: 14px;
              line-height: 21px;
              color: #6f6f6f;
              user-select: none;

              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }

              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #eee;
              }
            }
          }
        }
      }

      .quote {
        position: relative;
        padding-left: 1.5rem; // Add padding for the icon
        font-style: italic;

        &::before {
          content: "\201C"; // Unicode for the opening double quotation mark
          position: absolute;
          left: -25px;
          top: -50px;
          font-size: 12rem;
          line-height: 1;
          color: variables.$primary-color;
        }

        .info {
          grid-area: info;
          height: 70%;
          width: 340px;
          height: 370px;

          .boxInfo {
            width: 100%;

            #info_title_contact {
              font-style: italic;
              line-height: 35px;
              font-size: 20px;
              font-weight: 500;
            }

            .desc_contact {
              float: left;
              margin-top: 45px;

              #title_author_info {
                font-weight: 600;
                font-size: 20px;
              }

              #desck_author_info {
                margin-top: 10px;
              }
            }
          }
        }
      }

      .map {
        height: 30%;
        grid-area: map;
        color: #333;

        .map_desc {
          margin-top: -100px;

          .adress_contact {
            #location_contact {
              position: relative;
              top: 60px;
              left: 40px;
            }

            #p_adress {
              margin-left: 120px;
              line-height: 24px;
              font-size: 14px;
            }

            #p_country_adress {
              margin-left: 120px;
              line-height: 24px;
              font-size: 14px;
              font-weight: 800;
            }

            #p_email_adress {
              color: variables.$primary-color;
              margin-left: 120px;
              line-height: 24px;
              font-size: 14px;
            }
          }

          .ul_map_contact {
            margin: 40px 20px 20px 20px;

            .li_map_contact {
              list-style-type: square;
              line-height: 40px;
              margin-left: 40px;
              font-size: 18px;
            }

            ::marker {
              color: variables.$primary-color;
            }
          }
        }
      }
    }
  }
}

.label_check:hover input ~ .checkmark {
  background-color: #ccc !important;
}

.label_check input:checked ~ .checkmark {
  background-color: variables.$primary-color !important;
}

.checkmark:after {
  content: "" !important;
  position: absolute !important;
  display: none !important;
}

.label_check #checkbox:checked ~ .checkmark:after {
  display: block !important;
}

.label_check .checkmark:after {
  left: 10px !important;
  top: 7px !important;
  width: 2px !important;
  height: 4px !important;
  border: solid white !important;
  border-width: 0 3px 3px 0 !important;
  border-width: 1px solid white;
  -webkit-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}
