@use "variables";
@use "typography";
@use "mixins";

.home-section-header {
    // youssef code
    @include mixins.fullwidth;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$primary-color;
    height: 100vh;

    .image-container {
        width: 50%;
        height: 100%;
        background-image: url("../../images/home-top-image-2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }

    .home-text-content {
        width: 50%;
        display: flex;
        align-items: last baseline;
        justify-content: center;
        flex-direction: column;
        gap: 30px;

        .title-banner-home {
            font-size: 45px;
            font-weight: 700;
            color: #fff;
            line-height: 1.2;
            width: 80%;
        }

        .info-banner-home {
            font-size: 22px;
            color: #fff;
            line-height: 1.5;
            word-break: break-word;
            width: 80%;
        }
    }
}

.services-section-home {
    @include mixins.fullwidth;
    background-color: variables.$section-background;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
    width: 100%;

    .home-section {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 35%;
        width: 100%;

        .block-title {
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .center-hr {
            border: 2px solid variables.$primary-color;
            width: 15%;
        }

        .text-block-section {
            line-height: 36px;
            font-size: 22px;
            color: variables.$text-color;
            width: 65%;
        }

    }

    .box-home {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 65%;
        margin-top: 2%;
        height: 65%;

        .item-box-home {
            img {
                width: 28%;
                height: 75px;
                margin-bottom: 30px;
            }

            span {
                color: #454747;
                font-size: 24px;
                text-decoration: none;
                font-weight: 600;
            }

            p {
                font-size: 18px;
                line-height: 28px;
                margin-top: 3%;
            }

            button {
                margin-top: 16%;
            }
        }
    }
}

.blockquote-section-home {
    @include mixins.fullwidth;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150vh;
    margin-top: 10%;

    .home-section {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 15%;
        width: 100%;

        .block-title {
            font-size: 36px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .center-hr {
            border: 2px solid variables.$primary-color;
            width: 15%;
        }

        .text-block-section {
            line-height: 36px;
            font-size: 22px;
            color: variables.$text-color;
            width: 65%;
        }
    }

    .section-home {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        text-align: left;
        width: 80%;
        height: 85%;
        gap: 5%;
        margin-top: 5%;

        .left-section {
            width: 45%;
            line-height: 30px;

            span {
                font-size: 22px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                line-height: 27px;
                margin: 2%;
            }
        }

        .right-blockquote-home {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 40%;
            height: 50%;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);

            blockquote {
                position: relative;
                padding-left: 16px;

                &::before {
                    content: "\201C"; // Unicode for the opening double quotation mark
                    position: absolute;
                    top: -13%;
                    left: -6%;
                    font-size: 12rem;
                    color: variables.$primary-color;
                }

                .text-blockquote-home {
                    font-size: 20px;
                    line-height: 38px;
                    font-style: italic;
                    padding: 15% 10% 0 7%;
                }

                .author-blockquote-home {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 70%;
                    margin: 15% 0 0 3%;

                    img {
                        width: 25%;
                        height: 25%;
                    }

                    .descr-author-blockquote-home {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: left;
                        align-items: flex-end;
                        width: 70%;
                        margin-left: 3%;

                        h5 {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 35px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}

#line {
    @include mixins.fullwidth;
    color: #aba7a7;
}

.steps-section-home {
    @include mixins.fullwidth;
    background-color: variables.$information-light-color;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 120vh;

    .block-title {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .center-hr {
        border: 2px solid variables.$primary-color;
        width: 15%;
    }

    .text-block-section {
        line-height: 36px;
        font-size: 22px;
        color: variables.$text-color;
        width: 65%;
    }

    .steps-card-home {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 5%;

        .step-card-home {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            width: 20%;
            text-align: left;

            .step-number {
                font-size: 12px;
                letter-spacing: -0.24px;
                line-height: 19px;
                text-transform: uppercase;
            }

            .step-name {
                font-size: 18px;
                font-weight: 600;
                line-height: 60px;
                text-transform: uppercase;
                color: variables.$text-color;
                border-bottom: 1px solid variables.$secondary-color;
                width: 80%;
            }

            .step-text {
                margin-top: 45px;
                font-size: 18px;
                line-height: 25px;
                color: #454747;
            }
        }
    }

    .steps-bottom-text {
        line-height: 36px;
        font-size: 18px;
        font-style: italic;
        color: variables.$secondary-color;
        margin: 5% 0 3% 0;
    }
}

.home-block-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;

    .block-title-home {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .center-hr-home {
        border: 2px solid variables.$primary-color;
        width: 15%;
    }

    .text-block-section-home {
        line-height: 36px;
        font-size: 22px;
        color: variables.$text-color;
        width: 65%;
    }

    .btn-block-home {
        margin-top: 5%;
    }
}

@media (max-width: 900px) {
    .home-section-header {
        height: 50vh;
        width: 100%;

        .image-container {}

        .home-text-content {
            width: 100%;
            height: 100%;

            .title-banner-home {
                font-size: 14px;
                width: 90%;
            }

            .info-banner-home {
                font-size: 10px;
            }
        }
    }

    .home-block-section {
        height: 50vh;

        .block-title-home {
            font-size: 20px;
        }

        .center-hr-home {
            width: 40%;
        }

        .text-block-section-home {
            font-size: 14px;
            line-height: 20px;
            width: 85%;
        }

        .btn-block-home {
            margin-top: 5%;
        }
    }

    .services-section-home {
        flex-flow: row wrap;
        height: 270vh;

        .home-section {
            flex-flow: column wrap;
            width: 85%;
            height: 10%;

            .block-title {
                font-size: 20px;
            }

            .center-hr {
                width: 40%;
            }

            .text-block-section {
                font-size: 14px;
                line-height: 20px;
                width: 85%;
            }

        }

        .box-home {
            grid-template-columns: none;
            grid-template-rows: auto auto auto auto;
            place-items: center;
            width: 100%;
            height: 90%;
            margin-top: 0;

            .item-box-home {
                width: 80%;

                img {
                    width: 5rem;
                    height: 4rem;
                    margin-bottom: 20px;
                }

                span {
                    color: #454747;
                    font-size: 18px;
                    text-decoration: none;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    line-height: 28px;
                    margin-top: 3%;
                }

                button {
                    margin-top: 16%;
                }
            }
        }
    }


    .blockquote-section-home {
        height: 210vh;

        .home-section {
            height: 5%;

            .block-title {
                font-size: 20px;
            }

            .center-hr {
                width: 40%;
            }
        }

        .section-home {
            flex-flow: row wrap;
            align-items: center;
            width: 85%;
            height: 95%;
            gap: 0;
            margin-top: 0;

            .left-section {
                width: 100%;
                height: 70%;

                span {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 2%;
                }
            }

            .right-blockquote-home {
                width: 35rem;
                height: 30%;

                blockquote {

                    &::before {
                        top: -10%;
                        left: 0;
                        font-size: 8rem;
                    }

                    .text-blockquote-home {
                        font-size: 14px;
                        line-height: 22px;
                    }

                    .author-blockquote-home {
                        img{
                            width: 5rem;
                            height: 5rem;
                        }
                        width: 100%;
                        .descr-author-blockquote-home {
                            h5{
                                font-size: 16px;
                            }
                            p{
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

