@use "variables";
@use "typography";
@use "mixins";

//styling header part of home page//
.home-section-header {
    // youssef code
    @include mixins.fullwidth;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$primary-color;
    height: 100vh;

    .image-container {
        width: 50%;
        height: 100%;
        background-image: url("../../images/home-top-image-2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }

    .home-text-content {
        width: 50%;
        display: flex;
        align-items: last baseline;
        justify-content: center;
        flex-direction: column;
        gap: 30px;

        .title-banner-home {
            font-size: 45px;
            font-weight: 700;
            color: #fff;
            line-height: 1.2;
            width: 80%;
        }

        .info-banner-home {
            font-size: 22px;
            color: #fff;
            line-height: 1.5;
            word-break: break-word;
            width: 80%;
        }
    }
}

.section_home_two {
    @include mixins.fullwidth;
    margin-top: 10%;
    background-color: #fff5f5;
    height: 745px;
    padding: 70px 0 0 0;

    #h1_home {
        font-size: 32px;
        font-weight: 600;
        line-height: 32px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
    }

    hr {
        border: 2px solid variables.$primary-color;
        width: 15%;
    }

    #text_sec_two {
        font-size: 22px;
        text-align: center;
        line-height: 37px;
        margin-top: 25px;
    }

    .box_home {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 75%;
        gap: 25px;
        margin-top: 5%;
        margin-left: 13%;
    }

    .box_home_item {
        font-size: 30px;
        text-align: center;
        width: 100%;
        padding: 5%;
        justify-content: center;
        align-items: center;

        img {
            width: 90px;
            height: 75px;
        }

        #link_title_home {
            color: #454747;
            font-size: 18px;
            text-decoration: none;
            font-weight: 600;
        }

        #p_home_box {
            font-size: 16px;
            line-height: 28px;
            margin-top: 2px;
        }

        button {
            border: 1px solid white;
            color: variables.$primary-color;
            font-weight: 600;
            background-color: white;
            font-size: 16px;
            padding: 10px;
            text-transform: uppercase;
            margin-top: 15%;
            cursor: pointer;
        }
    }
}

.desck_article_home {
    margin-top: 100px;
    width: 70%;
    position: relative;
    left: 10%;

    #h1_home {
        font-size: 32px;
        font-weight: 600;
        line-height: 32px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
        margin-left: 50px;
    }

    hr {
        border: 2px solid variables.$primary-color;
        width: 15%;
    }

    .box_home {
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 7fr 3fr;
        grid-template-areas: "form info";
        grid-gap: 50px;
        width: 100%;
        height: 100%;
        margin-left: 20px;
        margin: 80px;
        text-align: left;

        .title-banner-home {
            font-size: 45px;
            line-height: 40px;
            width: 100%;
            font-weight: 400;
        }

        .info-banner-home {
            margin-top: 35px;
            font-size: 24px;
            line-height: 27px;
        }

        .btn-header-home {
            margin-top: 15%;
        }
    }
}

.services-section-home {
    @include mixins.fullwidth;
    background-color: variables.$section-background;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
    width: 100%;

    .box-home {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 75%;
        margin-top: 2%;

        .item-box-home {
            img {
                width: 28%;
                height: 75px;
                margin-bottom: 30px;
            }

            span {
                color: #454747;
                font-size: 24px;
                text-decoration: none;
                font-weight: 600;
            }

            p {
                font-size: 18px;
                line-height: 28px;
                margin-top: 3%;
            }

            button {
                margin-top: 16%;
            }
        }
    }
}

.blockquote-section-home {
    @include mixins.fullwidth;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 140vh;

    .section-home {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        width: 80%;
        height: 100vh;
        gap: 5%;
        margin-top: 5%;

        .left-section {
            width: 45%;
            line-height: 30px;

            span {
                font-size: 22px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                line-height: 27px;
                margin: 2%;
            }
        }

        .right-blockquote-home {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 40%;
            height: 65%;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);

            blockquote {
                position: relative;
                padding-left: 16px;

                &::before {
                    content: "\201C"; // Unicode for the opening double quotation mark
                    position: absolute;
                    top: -13%;
                    left: -6%;
                    font-size: 12rem;
                    color: variables.$primary-color;
                }

                .text-blockquote-home {
                    font-size: 20px;
                    line-height: 38px;
                    font-style: italic;
                    padding: 15% 10% 0 7%;
                }

                .author-blockquote-home {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 70%;
                    margin: 15% 0 0 3%;

                    img {
                        width: 25%;
                        height: 25%;
                    }

                    .descr-author-blockquote-home {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: left;
                        align-items: flex-end;
                        width: 70%;
                        margin-left: 3%;

                        h5 {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 35px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}


#line {
    @include mixins.fullwidth;
    color: #aba7a7;
}



.steps-section-home {
    @include mixins.fullwidth;
    background-color: variables.$information-light-color;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 120vh;
    

    .steps-card-home {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 5%;

        .step-card-home {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            width: 20%;
            text-align: left;

            .step-number {
                font-size: 12px;
                letter-spacing: -0.24px;
                line-height: 19px;
                text-transform: uppercase;
            }

            .step-name {
                font-size: 18px;
                font-weight: 600;
                line-height: 60px;
                text-transform: uppercase;
                color: variables.$text-color;
                border-bottom: 1px solid variables.$secondary-color;
                width: 80%;
            }

            .step-text {
                margin-top: 45px;
                font-size: 18px;
                line-height: 25px;
                color: #454747;
            }
        }
    }

    .steps-bottom-text {
        line-height: 36px;
        font-size: 18px;
        font-style: italic;
        color: variables.$secondary-color;
        margin: 5% 0 3% 0;
    }
}



.home-block-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.block-title {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.center-hr {
    border: 2px solid variables.$primary-color;
    width: 15%;
}

.text-block-section {
    line-height: 36px;
    font-size: 22px;
    color: variables.$text-color;
    width: 65%;
}

.btn-block-home {
    margin-top: 5%;
}