@use "variables";
@use "typography";

//styling header part of home page//
.header-home {
    position: relative;
    text-align: center;
    margin: 0;
    background-color: variables.$primary-color;
    height: 780px;

    .img-header-home {
        width: 85%;
        height: 780px;
        margin-left: 253px;
    }

    .text-banner-home {
        position: absolute;
        top: 50%;
        left: 25%;
        color: white;
        transform: translate(-50%, -50%);
        text-align: left;

        .title-banner-home {
            font-size: 45px;
            line-height: 40px;
            width: 100%;
            font-weight: 400;
        }

        .info-banner-home {
            margin-top: 35px;
            font-size: 24px;
            line-height: 27px;
        }

        .btn-header-home {
            margin-top: 15%;
        }
    }
}

//end//


//styling the services section of page home//
.services-section-home {
    background-color: variables.$section-background;
    height: 745px;
    padding: 70px 0 30px 0;
    text-align: center;
    width: 100%;

    .center-section {
        display: flex;
        justify-content: center;

        .box-home {
            display: grid;
            place-items: center;
            grid-template-columns: auto auto auto auto;
            gap: 10px;
            margin-top: 70px;
            width: 1170px;
        }

        .item-box-home {
            width: 280px;
            height: 380px;

            .img-box-home {
                width: 90px;
                height: 75px;
                margin-bottom: 30px;
            }

            .title-box-home {
                color: #454747;
                font-size: 24px;
                text-decoration: none;
                font-weight: 600;
            }

            .info-box-home {
                font-size: 18px;
                line-height: 28px;
                margin-top: 15px;
            }

            #btn-box-home {
                margin-top: 16%;
            }
        }
    }
}

//end//



//start//
.bloquote-section-home {
    text-align: center;
    margin-top: 180px;
    width: 100%;

    .center-section {
        display: flex;
        justify-content: center;

        .section-home {
            display: grid;
            grid-template-columns: 5fr 5fr;
            grid-template-areas: "auto auto";
            grid-gap: 50px;
            text-align: left;
            width: 1170px;
            height: 1125px;

            .right-section {
                width: 545px;
                line-height: 50px;
                margin-top: 40px;

                .title-right {
                    font-size: 22px;
                    font-weight: 700;
                }

                .text-right {
                    font-size: 18px;
                    line-height: 27px;
                    margin: 10px 0 30px 0;
                }
            }

            .right-blockquote-home {
                margin-top: 50px;
                width: 545px;
                height: 520px;
                box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);

                .text-blockquote-home {
                    font-size: 20px;
                    line-height: 38px;
                    font-style: italic;
                    padding: 90px 90px 0 40px;
                }


                .author-blockquote-home {
                    display: flex;
                    width: 65%;
                    padding-left: 50px;
                    margin-top: 70px;

                    .img-author-blockquote-home {
                        width: 80px;
                        height: 80px;
                    }

                    .descr-author-blockquote-home {
                        padding-left: 20px;
                        width: 500px;
                        margin-top: 5px;

                        #job-author-blockquote-home {
                            margin-top: 10px;
                            line-height: 28px;
                        }
                    }
                }

            }
        }
    }
}

//end//



#line {
    color: #aba7a7;
    margin-top: -210px;
}




//start//

.steps-section-home {
    background-color: variables.$information-light-color;
    height: 985px;
    padding: 70px 0 30px 0;
    text-align: center;
    width: 100%;

    .center-section {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        .steps-card-home {
            display: grid;
            place-items: center;
            grid-template-columns: auto auto auto auto;
            gap: 10px;
            margin-top: 25px;
            width: 1170px;

            .step-card-home {
                width: 280px;
                height: 380px;
                text-align: left;

                .step-number {
                    font-size: 12px;
                    letter-spacing: -0.24px;
                    line-height: 19px;
                    text-transform: uppercase;
                }

                .step-name {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 29px;
                    margin: 0px 0px 20px;
                    padding: 0px 0px 20px;
                    color: variables.$text-color;
                    font-weight: 500;
                    border-bottom: 1px solid variables.$secondary-color;
                }

                .step-text {
                    margin-top: 45px;
                    font-size: 18px;
                    line-height: 25px;
                    color: #454747;
                }

            }
        }
    }

    #line-steps {
        margin-top: -50px;
    }

    .steps-bottom-text {
        line-height: 36px;
        font-size: 18px;
        font-style: italic;
        color: variables.$secondary-color;
        margin-top: 30px;
    }
}

//end//



.block-section {
    margin: 100px 0 170px 0;
    text-align: center;
    align-self: center;
    width: 800px;
}

.block-title {
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    align-self: center;
}

.center-hr {
    display: flex;
    justify-content: center;

    .line-block-title {
        border: 2px solid variables.$primary-color;
        margin-top: 25px;
        width: 150px;
    }
}

.text-block-section {
    margin-top: 25px;
    line-height: 36px;
    font-size: 22px;
    color: variables.$text-color;
    align-self: center;
    text-align: center;
}

#btn-block-home {
    margin-top: 50px;
}