@use "variables";
@use "typography";


.services-grid {
    .box-tec {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 70%;
        gap: 6%;
        margin-top: 5%;
        margin-left: 13%;

    }

    .box-item-tec {
        font-size: 30px;
        text-align: center;
        width: 100%;
        padding: 5%;
        justify-content: center;
        align-items: center;

        img {
            width: 90px;
            height: 75px;
        }

        p {
            color: #454747;
            margin-top: 15px;
            font-size: 20px;
            text-transform: uppercase;
        }

    }

    #btn-ser-box{
        margin-left: 42%;
        margin-top: 5%;
    }
}

.section_six {
    width: 100%;
    margin: 10% 0 0 0;
    position: relative;
    text-align: center;

    img {
        width: 100%;
    }

    .centered_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        width: 70%;

        .banner_logo {
            img {
                width: 60px;
                height: 65px;
            }

            p {
                margin-top: 40px;
                font-size: 16px;
                color: white;
            }
        }


    }



}

.section_text {
    margin-top: 90px;
    position: relative;
    width: 50%;
    left: 25%;


}

.logo_partner {
    position: relative;
    width: 50%;
    left: 20%;

    .logo_box {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        width: 85%;
        gap: 10%;

        .logo_item {
            width: 100%;
            padding: 5%;
            justify-content: center;
            align-items: center;

            #logo_img {
                width: 155px;
                height: 110px;
            }

        }
    }
}



.paragrapgh-section {
    margin: 70px 0 0;
    text-align: center;
    align-self: center;
    width: 800px;
    

    section {
        margin-bottom: 35px;

        p {
            font-size: 18px;
            line-height: 32px;
            margin-top: 15px;
        }
    }
}