@use "variables";
@use "typography";
@use "mixins";

.service-tech-sample-section-header {
  @include mixins.fullwidth;
  height: 100vh;
  text-align: center;
  // margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/shutterstock_477005419-1.jpg");
  background-size: cover;
  img {
    width: 100%;
    height: 100vh;
  }

  .section-content {
    width: 50%;

    h2 {
      text-transform: uppercase;
      font-size: 48px;
    }

    .services-banner-text {
      margin: 45px 0;

      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}

.services-text-block-section {
  margin: 100px auto;
  text-align: center;
  //   align-self: center;
  width: 60%;
  //   width: 800px;

  h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    text-transform: uppercase;
    align-self: center;
  }

  .short-heading-line {
    border: 2px solid variables.$primary-color;
    margin: 25px auto;
    width: 150px;
    opacity: 100%;
  }

  div {
    margin-top: 50px;
    text-align: left;

    p {
      font-size: 18px;
      line-height: 32px;
      margin-top: 15px;

      span {
        font-weight: 600;
      }
    }
  }
}

.services-section-icons {
  text-align: center;
  .icons-text-wrapper {
    // display: grid;
    // grid-template-columns: auto auto auto auto;
    // width: 70%;
    // gap: 6%;
    // margin-top: 5%;
    // margin-left: 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // text-align: center !important;

    .box-item {
      font-size: 30px;
      text-align: center;
      width: 100%;
      justify-content: center;
      align-items: center;

      img {
        height: 75px;
      }

      p {
        margin-top: 40px;
        font-size: 20px;
      }
    }
  }

  button {
    margin: 50px 0 100px 0;
  }
}

.service-tech-sample-section-methodology {
  @include mixins.fullwidth;
  background-color: #dff0fc;
  padding: 70px 0;
  text-align: center;

  h1 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  .heading-line {
    margin: 30px auto;
  }

  .description {
    margin-top: 100px;
    width: 50%;
    margin: 0 auto;

    p {
      font-size: 18px;
      line-height: 32px;
      // margin-top: 15px;
      text-align: left;
    }
  }

  .cards-container {
    width: 80%;
    margin: 100px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    .card {
      font-size: 30px;
      text-align: center;
      height: 250px;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: white;

      img {
        width: 60px;
        height: 60px;
        margin-top: -55px;
      }

      .text-content {
        h5 {
          color: #454747;
          // margin-top: 15px;
          font-size: 16px;
          font-weight: 600;
          // margin-top: 30px;
          text-transform: uppercase;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          padding: 10px;
          margin-top: 12px;
        }
      }
    }
  }
  button {
    margin-top: 70px;
  }
}

.service-tech-sample-section-technologies {
  @include mixins.fullwidth;
  background-color: variables.$section-background;
  // position: relative;
  // color: black;
  // width: 100%;
  // padding: 5% 0 5% 0;
  // width: 100%;
  // margin-bottom: -5%;
  padding: 50px 0;

  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
  }

  .heading-line {
    margin: 40px auto 80px;
  }

  .description {
    // margin-top: 35px;
    // position: relative;
    width: 50%;
    // left: 25%;
    margin: 0 auto;

    p {
      font-size: 18px;
      line-height: 32px;
      margin-top: 15px;
    }
  }

  .lists-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    // position: relative;
    // left: 25%;
    margin: 0 auto;

    .list {
      font-size: 14px;

      h6 {
        font-weight: 600;
        margin-top: 55px;
        font-size: 14px;
      }

      ul {
        margin-top: 30px;
        gap: 100px;

        li {
          list-style-type: square;
          line-height: 30px;
        }

        ::marker {
          color: variables.$primary-color;
        }
      }
    }
  }
}

.service-tech-sample-section-clients-comments {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;

  .client-comment {
    .comment-head {
      position: relative;
      background-image: url(../../../static/images/comma-com.svg);
      background-repeat: no-repeat;
      height: 100px;

      span {
        font-size: 18px;
        font-style: italic;
        font-weight: 600;
        position: relative;
        bottom: -50px;
        left: 15px;
      }
    }

    .comment-body {
      .client-info {
        display: flex;

        img {
          height: 60px;
        }

        .client-info-text {
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .client-name {
            font-weight: 600;
            font-size: 14px;
          }

          .client-job {
            font-size: 15px;
          }
        }
      }

      p {
        margin-top: 20px;
        font-size: 14px;
        color: #454747;
        font-style: italic;
        line-height: 22px;
      }
    }
  }
}

.service-tech-sample-section-features {
  @include mixins.fullwidth;
  margin: 10% 0 0 0;

  img {
    width: 100%;
  }
  background-image: url("../../images/Group-5.png");
  min-height: 360px;
  text-align: center;

  .features-logos-wrapper {
    min-height: 360px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    .feature-logo {
      margin: 0 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .img-box {
        position: relative;
        max-width: calc(100% / 2);
        max-height: calc(100% / 2);
        min-height: 115px;
        margin: 0 auto 25px auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
      p {
        margin-top: 40px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

.service-tech-sample-section-paragraph {
  width: 80%;
  text-align: center;
  margin: 100px auto;
  p {
    font-size: 18px;
    line-height: 32px;
  }
}

.service-tech-sample-section-partners-logos {
  // position: relative;
  // width: 50%;
  // left: 20%;
  width: 100%;

  .logo_box {
    // display: grid;
    // grid-template-columns: auto auto auto auto auto;
    // width: 85%;
    // gap: 10%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    // gap: 40px;
    gap: 5%;

    .logo_item {
      width: 20%;
      // padding: 5%;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        // width: inherit;
        // width: 190px;
        // width: 100%;
        // width: 155px;
        // height: 110px;
      }
    }
  }
}

.service-tech-sample-section-articles {
  // position: relative;
  // color: black;
  // margin: à;
  width: 100%;
  margin: 0 auto;

  .section-articles {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    gap: 6%;
    // margin-top: 35px;
    // margin-left: 13%;
  }

  .section-article {
    width: 100%;
    padding: 8%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    float: left;

    span {
      margin-top: 15px;
      width: 360px;

      a {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 24px;
        font-weight: 600;

        &:hover {
          color: #454747;
          text-decoration: none;
        }
      }
    }

    p {
      font-size: 15px;
      line-height: 24px;
      margin-top: 10px;
      width: 360px;
    }
  }
}

// .section_six {
//   width: 100%;
//   margin: 10% 0 0 0;
//   position: relative;
//   text-align: center;

//   img {
//     width: 100%;
//   }

//   .centered_logo {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     color: black;
//     transform: translate(-50%, -50%);
//     display: grid;
//     grid-template-columns: auto auto auto auto auto auto;
//     width: 70%;

//     .banner_logo {
//       img {
//         width: 60px;
//         height: 65px;
//       }

//       p {
//         margin-top: 40px;
//         font-size: 16px;
//         color: white;
//       }
//     }
//   }
// }

// .section_text {
//   margin-top: 90px;
//   position: relative;
//   width: 50%;
//   left: 25%;
// }
