{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Home | Automize {%endblock %}
{% block style %} {% static 'amStaticApp/css/about.css' %} {% endblock %}
{% block content %}



    <div class="container_service">
        <div class="header_img">
            <img src="{% static 'images/About-us-header-image.jpg' %}" id="image" />
            <div class="centered_service">
                <p class="title_header">about automize</p>
                <div class="banner_text">
                    <p id="text_about_img">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor.
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container_about">
        <div class="desc_about">
            <div class="title">
                <h2 id="h2_about">Lorem ipsum dolor sit amet </h2>
                <hr />
            </div>
            <section class="definition_about">
                <p class="p_definition_about">Digiteum is a custom software development company. We design and develop digital systems for SMB
                    and enterprise clients across the globe and follow these simple, yet profound principles of
                    successful collaboration:</p>
                <p class="p_definition_about"><span id="title_definition_about">Responsibility.</span>Your goals are also our goals. We stand by our words and take
                    responsibility for every deadline, decision and choice we make.</p>
                <p class="p_definition_about"><span id="title_definition_about">Proactivity.</span>We know when to step in, lead, suggest and leverage our experience for
                    responsibility for every deadline, decision and choice we make.</p>
                <p class="p_definition_about"><span id="title_definition_about">Trust.</span>Trust is a solid ground for successful collaboration. We nurture it through
                    transparent communication, commitment and full understanding between clients and teams.</p>
                <p class="p_definition_about"><span id="title_definition_about">Best practices.</span> We are strong advocates of functional design, efficient engineering
                    practices and technical excellence.</p>
            </section>
        </div>
        <div class="desc_about">
            <div class="title">
                <h2 id="h2_about">automize facts</h2>
                <hr />
            </div>
            <img src="{% static 'images/digiteum-about-facts-2023-1.png' %}" id="img_facts">
        </div>
        <div class="desc_about">
            <div class="title">
                <h2 id="h2_about">automize team</span>
                <hr>
            </div>
            <section class="section_team_about">
                <P id="p_team_section">Digiteum is a full-stack team with a diverse skill set. We cover all aspects of the software
                    development cycle, including business analysis, software architecture, design, development and
                    testing as well as project management. More than half of our team are senior engineers with 10+
                    years of experience in software development. We live and operate in Poland, one of the major tech
                    hubs in Europe, and frequently travel to our clients and partners when possible.</P>
            </section>
            <img src="{% static 'images/about us -image.png' %}" id="img_team_section">
        </div>
        <div class="desc_about">
            <div class="title">
                <h2 id="h2_about">leadership</h2>
                <hr />
            </div>
            <div class="row_about">
                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>

                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>

                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>

                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>

                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>

                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>

                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>

                <div class="column_about">
                    <div class="card_about">
                        <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="" id="img_leader_about">
                        <label class="label_leader_about">lorem ipsum</label>
                        <p class="p_leader_about">Some text</p>
                    </div>
                </div>
            </div>
            <div class="desc_about">
                <div class="title">
                    <h2 id="h2_about">let's see how we can help</h2>
                    <hr />
                </div>
                <button><a href="contact/index.html">TALK TO AUTOMIZE TEAM </a></button>
            </div>
        </div>
    </div>

{% endblock %}
