{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Home | Automize {%endblock %}
{% block style %} {% static 'amStaticApp/css/about.css' %} {% endblock %}
{% block content %}

<div class="header-banner">
    <h2>about automize</h2>
    <p>
        Automize is cross-functional hub for developing the skills needed to become a top-tier full-stack developer of the future
    </p>
</div>
<div class="about-container">
    <div class="about-block-section">
        <h1>why choose us</h1>
        <hr />
        <section>
            <p>Automize is a premier training center dedicated to empowering students in development skills to become proficient full-stack developers. We adhere to profound principles of successful collaboration, ensuring our students excel in their journey towards becoming industry-ready professionals.</p>
            <p><span>Responsibility:</span>Your objectives are our guiding principles. We are committed to meeting every  decision with accountability and integrity.</p>
            <p><span>Proactivity:</span>With a wealth of experience, we proactively lead, suggest, and leverage our expertise to ensure for your understanding and success .</p>
            <p><span>Trust:</span>Transparent communication, unwavering commitment, and a deep understanding between our student and teams form the foundation of our collaborative approach.</p>
            <p><span>Best Practices:</span> We are dedicated to give you all what you need to build you skills us full stack developer.</p>
        </section>
    </div>
    <div class="about-facts">
        <h3>automize facts</h3>
        <img src="{% static 'images/digiteum-about-facts-2023-1.png' %}">
    </div>
    <div class="about-block-section">
        <h1>automize team</h1>
        <hr />
        <section>
            <P>Automize, your premier full-stack development center offering a comprehensive range of coding bootcamps. With a diverse skill set, we cover all aspects of programming to equip our students with the knowledge and expertise needed to excel in the ever-evolving tech landscape.
                Our team is distinguished by over 5 years of collective experience and deep expertise in the field of full-stack development. our goal is to work diligently alongside our students to develop and enhance their programming skills, ensuring they are well-prepared to thrive in the competitive tech industry.
                Located in the vibrant city of Rabat, we are deeply rooted in the local community and dedicated to providing accessible and high-quality education in programming. 
            </P>
        </section>
        <img src="{% static 'images/about us -image.png' %}" >
    </div>



    
</div>

<div class="leadership-grid-about">
    <h3>leadership</h3>
    <div class="leadership-articles">
        <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">Mohammed Moufti</p>
            <p class="job-card-about">CEO</p>
        </div>
        <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">Kaoutar Zoubir</p>
            <p class="job-card-about">RH</p>
        </div>
        <!-- <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">lorem ipsum</p>
            <p class="job-card-about">Some text</p>
        </div>
        <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">lorem ipsum</p>
            <p class="job-card-about">Some text</p>
        </div>
        <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">lorem ipsum</p>
            <p class="job-card-about">Some text</p>
        </div>
        <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">lorem ipsum</p>
            <p class="job-card-about">Some text</p>
        </div>
        <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">lorem ipsum</p>
            <p class="job-card-about">Some text</p>
        </div>
        <div class="card-about">
            <img src="{% static 'images//Maxim_about-us.jpg' %}" alt="">
            <p class="name-card-about">lorem ipsum</p>
            <p class="job-card-about">Some text</p>
        </div> -->
    </div>
</div>



<div class="section-help-about">
    <h2>LET'S SEE HOW WE CAN HELP</h2>
    <button class="base-btn am-btn-secondary" id="btn-about">TALK TO AUTOMIZE TEAM</button>
</div>

{% endblock %}