{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo/logo_icon.png' %}">

    <link
            rel="stylesheet"
            href="{% static 'amStaticApp/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'amStaticApp/css/main.css' %}"/>
    <link rel="stylesheet" href="{% block style %} {% endblock %}"/>
    <!-- Additional CSS or other meta tags can be added here -->
    <title>{% block title %}My App{% endblock %}</title>

    </script>
</head>

<body>
<nav>
    <div class="wrapper">
        <div class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo/logo_hozirontal.png' %}"></a>
        </div>
        <ul class="nav-links">
            <li class="has-dropdown">
                <a href="{% url 'services' %}">Services </a>
                <i class="fa-solid fa-chevron-down" id="services-dropdown-btn"></i>
                <div class="mega-box">
                    <div class="content">
                        <div class="nav-row">
                            <header>Design & Engineering</header>
                            <ul class="mega-links">
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-row">
                            <header>Technologies</header>
                            <ul class="mega-links">
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                                <li>
                                    <a href="{% url 'service_tech_sample' %}">Sample</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li>
                <a href="{% url 'contact' %}" class="base-btn am-btn-primary"
                >Contact Us</a
                >
            </li>
        </ul>
        <div class="mobile-menu-icon" id="mobileMenuToggle">&#9776;</div>
    </div>
</nav>

<div class="container">{% block content %} {% endblock %}</div>

<footer class="footer-10">
    <div class="container">
        <div class="row mb-5 pb-3 no-gutters">
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-1 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div
                                class="icon d-flex align-items-center justify-content-center"
                        >
                            <i class="fa-solid fa-phone icons"></i>
                        </div>
                        <div class="text">
                            <span>(+212) 669 223 232</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-2 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-envelope icons"></i>
                        </div>
                        <div class="text">
                            <span>info@automize.ma</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 d-flex">
                <div class="con con-3 w-100 py-5">
                    <div class="con-info w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-map-location-dot icons"></i>
                        </div>
                        <div class="text">
                            <span>Rue Dayat Aoua Rabat Morocco</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">About</h2>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'about' %}" class="d-block">Out story</a></li>
                            <li><a href="{% url 'about' %}" class="d-block">Awards</a></li>
                            <li><a href="{% url 'about' %}" class="d-block">Our Team</a></li>
                            <li><a href="{% url 'about' %}" class="d-block">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">Company</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Our services</a></li>
                            <li><a href="#" class="d-block">Clients</a></li>
                            <li><a href="#" class="d-block">Contact</a></li>
                            <li><a href="#" class="d-block">Press</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4">
                        <h2 class="footer-heading">Resources</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="d-block">Blog</a></li>
                            <li><a href="#" class="d-block">Newsletter</a></li>
                            <li><a href="#" class="d-block">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-md-0 mb-4">
                <h2 class="footer-heading">Subscribe</h2>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input
                                type="text"
                                class="form-control rounded-left email"
                                placeholder="Enter email address"
                        />
                        <button
                                type="submit"
                                class="form-control submit rounded-right sub"
                        >
                            Subscribe
                        </button>
                    </div>
                    <span class="subheading"
                    >Get digital marketing updates in your mailbox</span
                    >
                </form>
            </div>
        </div>
        <div class="row mt-5 pt-4 border-top">
            <div class="col-md-6 col-lg-8 mb-md-0 mb-4">
                <p class="copyright mb-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    2023 All rights reserved. | This template is made with
                    <i class="ion-ios-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
            <div class="col-md-6 col-lg-4 text-md-right">
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate">
                        <a
                                href="#"
                                data-toggle="tooltip"
                                data-placement="top"
                                title=""
                                data-original-title="Twitter"
                        ><span class="ion-logo-twitter"></span
                        ></a>
                    </li>
                    <li class="ftco-animate">
                        <a
                                href="#"
                                data-toggle="tooltip"
                                data-placement="top"
                                title=""
                                data-original-title="Facebook"
                        ><span class="ion-logo-facebook"></span
                        ></a>
                    </li>
                    <li class="ftco-animate">
                        <a
                                href="#"
                                data-toggle="tooltip"
                                data-placement="top"
                                title=""
                                data-original-title="Instagram"
                        ><span class="ion-logo-instagram"></span
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const mobileMenuToggle = document.getElementById("mobileMenuToggle");
        const navLinks = document.querySelector(".nav-links");

        mobileMenuToggle.addEventListener("click", function () {
            navLinks.classList.toggle("open");
        });
    });

    let servicesDropdownBtn = document.querySelector(
        "#services-dropdown-btn"
    );
    let megaBox = document.querySelector(".mega-box");
    servicesDropdownBtn.addEventListener("click", function () {
        if (megaBox.style.display == 'none') {
            megaBox.style.display = "block";

        } else {
            megaBox.style.display = "none";

        }
    });
</script>

<script
        src="https://kit.fontawesome.com/862b1267d5.js"
        crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'amStaticApp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'amStaticApp/js/main.js' %}"></script>
</body>
</html>
