{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Blog | Automize {%endblock %}
{% block style %} {% static 'amStaticApp/css/blog.css' %} {% endblock %}
{% block content %}



<div class="blog-header">
    <div class="text-content">
        <h1>Blog</h1>
        <p>Business and technology news and insights from <br>industry experts</p>
    </div>
</div>







<div class="blog-container">


    <div class="menu-blog">
        <div class="search-blog">
            <input class="search" type="text" placeholder="Find what you want...">
        </div>
        <h6>categories</h6>
        <ul>
            <li><a href="#">Big Data</a></li>
            <li><a href="#">Infographie</a></li>
            <li><a href="#">ChatBots</a></li>
            <li><a href="#">Automize Team</a></li>
            <li><a href="#">Experts View</a></li>
            <li><a href="#">Web</a></li>
        </ul>
    </div>

    <div class="card-container">


        <div class="card">
            <img src="{% static 'images//warehouse-automation-cube.jpg' %}">

            <div class="article">
                <a href="#">
                    Lorem ipsum dolor sit consectetur adipiscing
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat [...]</p>


                <p class="comments">
                    <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                    <i class="fa-regular fa-comment"></i>0
                </p>
            </div>

        </div>


        <div class="card">
            <img src="{% static 'images//warehouse-automation-cube.jpg' %}">

            <div class="article">
                <a href="#">
                    Lorem ipsum dolor sit consectetur adipiscing
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat [...]</p>


                <p class="comments">
                    <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                    <i class="fa-regular fa-comment"></i>0
                </p>
            </div>

        </div>

        <div class="card">
            <img src="{% static 'images//warehouse-automation-cube.jpg' %}">

            <div class="article">
                <a href="#">
                    Lorem ipsum dolor sit consectetur adipiscing
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat [...]</p>


                <p class="comments">
                    <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                    <i class="fa-regular fa-comment"></i>0
                </p>
            </div>

        </div>


        <div class="card">
            <img src="{% static 'images//warehouse-automation-cube.jpg' %}">

            <div class="article">
                <a href="#">
                    Lorem ipsum dolor sit consectetur adipiscing
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat [...]</p>


                <p class="comments">
                    <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                    <i class="fa-regular fa-comment"></i>0
                </p>
            </div>

        </div>

        <div class="card">
            <img src="{% static 'images//warehouse-automation-cube.jpg' %}">

            <div class="article">
                <a href="#">
                    Lorem ipsum dolor sit consectetur adipiscing
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat [...]</p>


                <p class="comments">
                    <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                    <i class="fa-regular fa-comment"></i>0
                </p>
            </div>

        </div>

        <div class="card">
            <img src="{% static 'images//warehouse-automation-cube.jpg' %}">

            <div class="article">
                <a href="#">
                    Lorem ipsum dolor sit consectetur adipiscing
                </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat [...]</p>


                <p class="comments">
                    <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                    <i class="fa-regular fa-comment"></i>0
                </p>
            </div>

        </div>

 
        <button class="base-btn am-btn-primary">Previous</button>



    </div>
</div>
{% endblock %}