{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Blog | Automize {%endblock %}
{% block style %} {% static 'amStaticApp/css/blog.css' %} {% endblock %}
{% block content %}



    <div class="blog-header">
        <img src="{% static 'images/blog-header.jpg' %}" id="img_header_blog"/>


            <div class="left-text">
                <h1>Blog</h1>
                <p>Business and technology news and insights from <br>industry experts</p>
            </div>
    </div>

    <div class="grid_blog_container">
        <div class="item1_blog">
            <div class="search_wrapper">
                <input class="search" type="text" placeholder="Find what you want...">
            </div>
            <span id="cat_title_blog">categories</span>
            <ul class="ul_cat_blog">
                <li class="li_cat_blog"><a class="link_cat_blog" href="#">Big Data</a></li>
                <li class="li_cat_blog"><a class="link_cat_blog" href="#">Infographie</a></li>
                <li class="li_cat_blog"><a class="link_cat_blog" href="#">ChatBots</a></li>
                <li class="li_cat_blog"><a class="link_cat_blog" href="#">Automize Team</a></li>
                <li class="li_cat_blog"><a class="link_cat_blog" href="#">Experts View</a></li>
                <li class="li_cat_blog"><a class="link_cat_blog" href="#">Web</a></li>
            </ul>
        </div>

        <div class="item2_blog">
            <div class="card">
                <span>
                    <img src="{% static 'images/warehouse-automation-cube.jpg' %}">
                </span>
                <div class="info_card">
                    <div class="article">
                        <a href="#" class="link_title_card">
                            Lorem ipsum dolor sit consectetur adipiscing
                        </a>
                        <p class="p_card_blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat [...]</p>
                    </div>
                    <div class="meta">
                        <p class="p_social_blog">
                            <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                            <i class="fa-regular fa-comment"></i>0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item3_blog">
            <div class="card">
                <span>
                    <img src="{% static 'images//warehouse-automation-cube.jpg' %}">
                </span>
                <div class="info_card">
                    <div class="article">
                        <a href="#" class="link_title_card">
                            Lorem ipsum dolor sit consectetur adipiscing
                        </a>
                        <p class="p_card_blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat [...]</p>
                    </div>
                    <div class="meta">
                        <p class="p_social_blog">
                            <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                            <i class="fa-regular fa-comment"></i>0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item4_blog">
            <div class="card">
                <span>
                    <img src="{% static 'images//warehouse-automation-cube.jpg' %}">
                </span>
                <div class="info_card">
                    <div class="article">
                        <a href="#" class="link_title_card">
                            Lorem ipsum dolor sit consectetur adipiscing
                        </a>
                        <p class="p_card_blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat [...]</p>
                    </div>
                    <div class="meta">
                        <p class="p_social_blog">
                            <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                            <i class="fa-regular fa-comment"></i>0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item5_blog">
            <div class="card">
                <span>
                    <img src="{% static 'images//warehouse-automation-cube.jpg' %}">
                </span>
                <div class="info_card">
                    <div class="article">
                        <a href="#" class="link_title_card">
                            Lorem ipsum dolor sit consectetur adipiscing
                        </a>
                        <p class="p_card_blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat [...]</p>
                    </div>
                    <div class="meta">
                        <p class="p_social_blog">
                            <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                            <i class="fa-regular fa-comment"></i>0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item6_blog">
            <div class="card">
                <span>
                    <img src="{% static 'images//warehouse-automation-cube.jpg' %}">
                </span>
                <div class="info_card">
                    <div class="article">
                        <a href="#" class="link_title_card">
                            Lorem ipsum dolor sit consectetur adipiscing
                        </a>
                        <p class="p_card_blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat [...]</p>
                    </div>
                    <div class="meta">
                        <p class="p_social_blog">
                            <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                            <i class="fa-regular fa-comment"></i>0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item7_blog">
            <div class="card">
                <span>
                    <img src="{% static 'images//warehouse-automation-cube.jpg' %}">
                </span>
                <div class="info_card">
                    <div class="article">
                        <a href="#" class="link_title_card">
                            Lorem ipsum dolor sit consectetur adipiscing
                        </a>
                        <p class="p_card_blog">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat [...]</p>
                    </div>
                    <div class="meta">
                        <p class="p_social_blog">
                            <i class="fa-regular fa-calendar"></i>JUL 07, 2023
                            <i class="fa-regular fa-comment"></i>0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item8_blog">
            
                <button class="base-btn am-btn-secondary">Previous posts</button>
            
        </div>

    </div>

{% endblock %}