{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Contact | Automize {%endblock %}
{% block style %} {% static 'amStaticApp/css/contact.css' %} {% endblock %}
{% block content %}


<div class="contactUs">
  <p id="title-contact">Let's talk about your project</p>
  <div class="center-section">
    <div class="contact-box">
      <!--Contact Form-->
      <div class="contact form-contact">
        <form>
          <div class="form-box">
            <div class="contact-row">
              <div class="inputBox-contact">
                <span>Name</span>
                <input  type="text" />
              </div>
              <div class="inputBox-contact">
                <span>Email</span>
                <input type="email" />
              </div>
            </div>
            <div class="contact-row">
              <div class="inputBox-contact">
                <span>Company</span>
                <input type="text" />
              </div>
            </div>
            <div class="bottom-row-contact">
              <div class="inputBox-contact">
                <span>Message</span>
                <textarea cols="16" rows="15"></textarea>
              </div>

              <div class="checkbox-contact">
                <label>Lorem ipsum dolor sit amet, consectetur adipisci ngipsum
                  dolor sit amet, consectetur adipiscing elit, sed
                  adipiscing elit, sed do
                  <a href="#">Privacy Policy.</a>
                  <input type="checkbox" id="checkbox" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="inputBox-contact">
                <button class="base-btn am-btn-secondary">SEND MESSAGE</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--Contact info-->
      <blockquote>
        <div class="contact info-contact">
          <div class="info-box">
            <p >
              Lorem ipsum dolor sit amet sed do Lorem ipsum, dolor sit amet
              consectetur adipisicing elit. Voluptatem fuga iste.
            </p>
            <div class="desc-contact">
              <span>Lorem ipsum</span>
              <p>Lorem - Lorem</p>
            </div>
          </div>
        </div>
      </blockquote>
      <!--Contact map-->
      <div class="map-contact">
        <div class="map-description">
          <div class="adress-contact">
            <img class="local-contact" src="{% static 'images/location.png' %}" />

            <p class="adress">Rue Dayat Aoua</p>
            <p class="adress">Rabat</p>
            <p class="country-adress">Morocco</p>
            <p class="email-adress">Automize@hello.com</p>
          </div>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}