{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Contact | Automize {%endblock %}
{% block style %} {% static 'amStaticApp/css/contact.css' %} {% endblock %}
{% block content %}


<div class="contact-container">
  <h1>Get in Touch</h1>

  <div class="contact-details">

    <form class="contact form-contact">
      <div class="contact-row">
        <div class="inputBox-contact">
          <span>Name</span>
          <input type="text" />
        </div>
        <div class="inputBox-contact">
          <span>Email</span>
          <input type="email" />
        </div>
      </div>
      <div class="contact-row">
        <div class="inputBox-contact">
          <span>Company</span>
          <input type="text" />
        </div>
      </div>
      <div class="inputBox-contact">
        <span>Message</span>
        <textarea cols="15" rows="12"></textarea>
      </div>

      <div class="form-check">
        <input class="form-check-input btn-outline-danger" type="checkbox" value="">
        <label class="form-check-label">
          we use your information to reply to your request . by checking this box, you consent to Automize processing your personal information as set in
          <a href="#">Privacy Policy.</a>
        </label>
      </div>

      <div class="inputBox-contact">
        <button class="base-btn am-btn-secondary">SEND MESSAGE</button>
      </div>
    </form>

    <div class="contact-info">

      <blockquote class="contact">
        <div class=" info-box">
          <p>
            Automize: Your gateway to transforming your future. Attain success with top-notch quality and affordability.
          </p>
          <div class="desc-contact">
            <span>Mohammed Moufti</span>
            <p>CEO, Automize</p>
          </div>
        </div>
      </blockquote>

      <div class="map-contact">

        <div class="adress-contact">
          <img class="local-contact" src="{% static 'images/location.png' %}" />
          <p class="adress">Rue Dayat Aoua</p>
          <p class="adress">Rabat</p>
          <p class="country-adress">Morocco</p>
          <p class="email-adress">contact@automize.com</p>
        </div>
        <ul>
          <li>Guaranteed quality </li>
          <li>Quality Assurance</li>
          <li>Expertise and Experience</li>
          <li>Rapid Start-Up</li>
        </ul>
      </div>

    </div>
  </div>

</div>

{% endblock %}