{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Home |Automize {%endblock %}
{% block content %}


<div class="container_home">
  <img src="{% static 'images/home-top-image.png' %}" id="image" />
  <div class="header_home_img">

    <div class="centered_home">
      <p class="title_header_home">Agile Software Teams <br> and Expertise on Demand</p>
      <div class="banner_text_home">
        <p id="text_home_p">Engage top-tier engineers to solve your <br> tech needs and reach business goals faster</p>
      </div>
      <div class="btn_header_home">
        <a href="contact/index.html">get a quote</a>
        <a href="#">our work</a>
      </div>
    </div>
  </div>
</div>
<div class="section_home_one">
  <h1 id="h1_home">Lorem ipsum dolor sit amet consectetur</h1>
  <hr />
  <section class="section_home_text">
    <p id="so_text">
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
  </section>
</div>
<div class="section_home_two">
  <h1 id="h1_home">Lorem ipsum dolor</h1>
  <hr />
  <p id="text_sec_two">Achieve your business goals with custom software solutions perfectly tailored <br> to your
    business goals,
    expectations and scale.</p>
  <div class="box_home">
    <div class="box_home_item">
      <img src="{% static 'images/icon.png' %}" id="box_home_img" /><br />
      <a id="link_title_home" href="#">lorem ipsum dolor</a>
      <p id="p_home_box">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button>Learn more</button>
    </div>
    <div class="box_home_item">
      <img src="{% static 'images/icon-1.png' %}" id="box_home_img" /><br />
      <a id="link_title_home" href="#">lorem ipsum dolor</a>
      <p id="p_home_box">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button>Learn more</button>
    </div>
    <div class="box_home_item">
      <img src="{% static 'images/icon-2.png' %}" id="box_home_img" /><br />
      <a id="link_title_home" href="#">lorem ipsum dolor</a>
      <p id="p_home_box">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button>Learn more</button>
    </div>
    <div class="box_home_item">
      <img src="{% static 'images/icon-3.png' %}" id="box_home_img" /><br />
      <a id="link_title_home" href="#">lorem ipsum dolor</a>
      <p id="p_home_box">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button>Learn more</button>
    </div>

  </div>
</div>
<div class="desck_article_home">
  <h1 id="h1_home">what you get</h1>
  <hr>
  <div class="box_home">

    <div class=" form_home">
      <div class="form_box_home">
        <span class="span_form_home">Broad tech stack and leading-edge expertise</span>
        <p class="p_form_home">You will work with senior engineers, designers and tech leaders with immense experience
          and a
          wide skill set. Being proactive and honest is our thing — we are confident and responsible
          for every course of action, technology and approach we suggest. Choosing Digiteum you opt
          for a tech partner who puts your business goals first and knows how to build value, not
        </p>

      </div>
      <div class="form_box_home">
        <span class="span_form_home">Broad tech stack and leading-edge expertise</span>
        <p class="p_form_home">You will work with senior engineers, designers and tech leaders with immense experience
          and a
          wide skill set. Being proactive and honest is our thing — we are confident and responsible
          for every course of action, technology and approach we suggest. Choosing Digiteum you opt
          for a tech partner who puts your business goals first and knows how to build value, not
        </p>

      </div>
      <div class="form_box_home">
        <span class="span_form_home">Broad tech stack and leading-edge expertise</span>
        <p class="p_form_home">You will work with senior engineers, designers and tech leaders with immense experience
          and a
          wide skill set. Being proactive and honest is our thing — we are confident and responsible
          for every course of action, technology and approach we suggest. Choosing Digiteum you opt
          for a tech partner who puts your business goals first and knows how to build value, not
        </p>

      </div>
    </div>
    <div class=" info_home">
      <div class="info_text_home">
        <p class="p_info_home">
          They are technically excellent, have an agile process in place and are always looking for
          ‘win-win’ opportunities. The team is incredibly honest, hard working and has been a source of
          new ideas and improvements. I cannot recommend them enough.
        </p>
      </div>
      <div class="info_name_home">
        <img id="img_author_info" src="{% static 'images/profile.png' %}">
        <div class="description_author">
          <h5 id="name_info_home">Lorem dolor</h5>
          <p id="des_info_home">Head of Software Development,T&F Technology</p>
        </div>

      </div>
    </div>

  </div>
</div>
<hr id="line">
<div class="section_home_three">
  <h1 id="h1_home">Lorem ipsum dolor sit amet</h1>
  <section class="section_home_btn">
    <a href="#">LOREM IPSUM DOLOR SIT AMET</a>
  </section>
</div>
<div class="section_home_four">
  <h1 id="h1_home">Lorem ipsum dolor sit amet </h1>
  <hr>
  <section class="section_home_text">
    <p id="so_text">
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
  </section>
  <div class="section_home_steps">
    <div class="home_step">
      <span class="step_number">Step 1</span><br>
      <span class="step_name">BUSINESS ANALYSIS</span>
      <p class="step_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip
        commodo consequat.</p>
    </div>
    <div class="home_step">
      <span class="step_number">Step 2</span><br>
      <span class="step_name">BUSINESS ANALYSIS</span>
      <p class="step_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip
        commodo consequat.</p>
    </div>
    <div class="home_step">
      <span class="step_number">Step 3</span><br>
      <span class="step_name">BUSINESS ANALYSIS</span>
      <p class="step_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip
        commodo consequat.</p>
    </div>
    <div class="home_step">
      <span class="step_number">Step 4</span><br>
      <span class="step_name">BUSINESS ANALYSIS</span>
      <p class="step_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip
        commodo consequat.</p>
    </div>

  </div>
  <div class="text_bottom">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    <a href="#">Lorem ipsum dolor</a>
  </div>
</div>
<div class="section_home_one">
  <h1 id="h1_home">Lorem ipsum dolor sit amet consectetur</h1>
  <hr />
  <section class="section_home_text">
    <p id="so_text">
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
    <br>
    <br>
  </section>
</div>


{% endblock %}