{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Service Design Sample | Automize {%endblock %}
{% block content %}




<!--header section of services samples page
<div class="header-banner">
  <img src="{% static 'images/shutterstock_477005419-1.jpg' %}" />
  <div class="center-text">
    <h2>Lorem ipsum consectetur</h2>
    <div class="services-banner-text">
      <p>
        Choose time-tested web development services to equip your company and customers with the digital tools that
        make them efficient, innovative and successful and keep your business at the top of the competition </p>
    </div>
    <button class="base-btn am-btn-secondary">Contact Us</button>
  </div>
</div>
 end -->


<!--header section of about page-->
<div class="header-banner">
  <!--<img src="{% static 'images/About-us-header-image.jpg' %}" />
  <div class="center-text">-->
      <h2>about automize</h2>
      <!--<div class="banner-text">-->
          <p>
              A cross-functional team united by the belief in the transformative power of digital technology
          </p>
          <button class="base-btn am-btn-secondary">Contact Us</button>
      <!--</div>
  </div>-->
</div>
<!-- end -->



<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>Digiteum is a custom software development company. We design and develop
      digital systems for SMB
      and enterprise clients across the globe and follow these simple, yet profound principles of
      successful collaboration:</p>
    <p><span>Responsibility.</span>Your goals are also
      our goals. We stand by our words and take
      responsibility for every deadline, decision and choice we make.</p>
    <p><span>Proactivity.</span>We know when to step in,
      lead, suggest and leverage our experience for
      responsibility for every deadline, decision and choice we make.</p>
    <p><span>Trust.</span>Trust is a solid ground for
      successful collaboration. We nurture it through
      transparent communication, commitment and full understanding between clients and teams.</p>
    <p><span>Best practices.</span> We are strong
      advocates of functional design, efficient engineering
      practices and technical excellence.</p>
  </section>
</div>
<!-- end -->




<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
  </section>
</div>
<!-- end -->



<!--block section of about page-->
<div class="title-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="line-center-hr">
    <hr />
  </div>
</div>

<div class="help-section">
  <div class="help-box">
    <div class="help-box-item">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <a href="#">lorem ipsum dolor</a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="help-box-item">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <a href="#">lorem ipsum dolor</a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="help-box-item">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <a href="#">lorem ipsum dolor</a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="help-box-item">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <a href="#">lorem ipsum dolor</a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="help-box-item">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <a href="#">lorem ipsum dolor</a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="help-box-item">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <a href="#">lorem ipsum dolor</a>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <button class="base-btn am-btn-secondary" id="btn_art_ser">LOREM IPSUM DOLOR</button>
</div>



<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore.
    </p>
  </section>
</div>


<div class="logo_partner">
  <div class="logo_box">
    <div class="logo_item">
      <img src="{% static 'images/applixure.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Diaceutics-1.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/FeedFM.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Microsoft.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Printique.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Mercans.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Oracle.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Takeda.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Oracle.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Takeda.png' %}" />
    </div>
  </div>
</div>
</div>


<div class="langages-section">
  <h1>FUTURE-PROOF TECHNOLOGIES FOR WEB DEVELOPMENT SERVICES</h1>
  <hr />
  <div class="langage-list">
    <div class="langages-list-item">
      <h6>FRONTEND AND BACKEND</h6>
      <ul>
        <li>HTML5/CSS3</li>
        <li>Vue.js</li>
        <li>Angular</li>
        <li>HTML5/CSS3</li>
        <li>Vue.js</li>
        <li>Angular</li>
      </ul>
    </div>
    <div class="langages-list-item">
      <h6>CLOUD AND DEVOPS</h6>
      <ul>
        <li>Microsoft Azure</li>
        <li>Amazon Web Services</li>
        <li>Google Cloud</li>
        <li>Jenkins</li>
        <li>Azure DevOps</li>
        <li>TeamCity</li>
        <li>Microsoft Azure</li>
        <li>Amazon Web Services</li>
        <li>Google Cloud</li>
        <li>Jenkins</li>
        <li>Azure DevOps</li>
        <li>TeamCity</li>
      </ul>
    </div>
    <div class="langages-list-item">
      <h6>DATABASES</h6>
      <ul>
        <li>MS SQL Server</li>
        <li>MYSQL</li>
      </ul>
    </div>
  </div>
</div>



<div class="agile-section">
  <h1>Lorem ipsum dolor sit amet consectetur </h1>
  <hr />
  <section>
    <p>
      We use a proven agile approach to provide transparency and efficiency throughout the development process and
      make sure you are getting predictably successful results, meet your delivery goals, and keep costs under
      control.
    </p>
  </section>

  <div class="details-box">
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-4.png' %}" /><br />
      <div class="item">
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-3.png' %}" /><br />
      <div class="item">
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-2.png' %}" /><br />
      <div class="item">
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-4.png' %}" /><br />
      <div class="item">
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  <button class="base-btn am-btn-secondary" id="btn-agile-ser">LOREM IPSUM DOLOR</button>
</div>

<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>

  </section>
</div>
<!-- end -->

<div class="art-clients">
  <div class="art-client">
    <div class="artclient-title">
      <span>Time-tested technology partnership</span>
    </div>
    <div class="artclient-body">
      <img src="{% static 'images/image-1.jpg' %}">
      <span class="client-name">David Zack</span><br>
      <span class="client-job">Head of Software Development, T&F</span>
      <p>They are technically excellent, have an agile process in place and are always looking for
        win-win opportunities. The team is incredibly honest, hardworking and has a source of new ideas and
        improvements. I cannot recommend the team enough.</p>
    </div>

  </div>
  <div class="art-client">
    <div class="artclient-title">
      <span>Time-tested technology partnership</span>
    </div>
    <div class="artclient-body">
      <img src="{% static 'images/image-1.jpg' %}">
      <span class="client-name">David Zack</span><br>
      <span class="client-job">Head of Software Development, T&F</span>
      <p>They are technically excellent, have an agile process in place and are always looking for
        win-win opportunities. The team is incredibly honest, hardworking and has a source of new ideas and
        improvements. I cannot recommend the team enough.</p>
    </div>

  </div>
  <div class="art-client">
    <div class="artclient-title">
      <span>Time-tested technology partnership</span>
    </div>
    <div class="artclient-body">
      <img src="{% static 'images/image-1.jpg' %}">
      <span class="client-name">David Zack</span><br>
      <span class="client-job">Head of Software Development, T&F</span>
      <p>They are technically excellent, have an agile process in place and are always looking for
        win-win opportunities. The team is incredibly honest, hardworking and has a source of new ideas and
        improvements. I cannot recommend the team enough.</p>
    </div>

  </div>
</div>


<div class="banner-services">
  <img src="{% static 'images/Group-5.png' %}">
  <div class="centered_logo">
    <div class="banner_logo">
      <img src="{% static 'images/1.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/2.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/3.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/4.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/5.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/6.png' %}">
      <p>LOREM IPSUM</p>
    </div>
  </div>
</div>



<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>

  </section>
</div>
<!-- end -->
<div class="articles-services-section">
  <div class="section-articles">
    <div class="section-article">
      <img src="{% static 'images/Mask-Group.jpg' %}">
      <span>
        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND LAUNCHED IN
          RECORD 8-MONTH TERM</a>
      </span>
      <p p>Since 2010, Digiteum has been helping one of the leading photo companies in the US
        scale up its business by introducing dozens of new web applications and services. As a result, the client has
        increased the number of customers by millions, strengthened its leadership position in the niche, and boosted
        profit.
      </p>
    </div>
    <div class="section-article">
      <img src="{% static 'images/Mask-Group.jpg' %}">
      <span>
        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND LAUNCHED IN
          RECORD 8-MONTH TERM</a>
      </span>
      <p p>Since 2010, Digiteum has been helping one of the leading photo companies in the US
        scale up its business by introducing dozens of new web applications and services. As a result, the client has
        increased the number of customers by millions, strengthened its leadership position in the niche, and boosted
        profit.
      </p>
    </div>
    <div class="section-article">
      <img src="{% static 'images/Mask-Group.jpg' %}">
      <span>
        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND LAUNCHED IN
          RECORD 8-MONTH TERM</a>
      </span>
      <p p>Since 2010, Digiteum has been helping one of the leading photo companies in the US
        scale up its business by introducing dozens of new web applications and services. As a result, the client has
        increased the number of customers by millions, strengthened its leadership position in the niche, and boosted
        profit.
      </p>
    </div>
  </div>
</div>




<div class="section-grid-design">
  <div class="bottom-img">
    <img src="{% static 'images/Group-3.jpg' %}" id="img-btm" />
    <div class="centered-art">
      <h1>Lorem ipsum dolor</h1>
      <hr/>
      <div class="grid-design">

        <div class="grid-btm">
          <img src="{% static 'images/Group-3-4.png' %}"  /><br />
          <div class="grid_item">
            <label>CONSULTING</label>
            <p>
              We offer end-to-end web development services for new and modernization web projects. Our specialists
              cover the entire cycle of web product creation from Discovery, system architecture and product design to
              engineering, support and maintenance.
            </p>
          </div>
        </div>


        <div class="grid-btm">
          <img src="{% static 'images/Group-3-4.png' %}"  /><br />
          <div class="grid_item">
            <label>CONSULTING</label>
            <p>
              We offer end-to-end web development services for new and modernization web projects. Our specialists
              cover the entire cycle of web product creation from Discovery, system architecture and product design to
              engineering, support and maintenance.
            </p>
          </div>
        </div>


        <div class="grid-btm">
          <img src="{% static 'images/Group-3-4.png' %}"  /><br />
          <div class="grid_item">
            <label>CONSULTING</label>
            <p>
              We offer end-to-end web development services for new and modernization web projects. Our specialists
              cover the entire cycle of web product creation from Discovery, system architecture and product design to
              engineering, support and maintenance.
            </p>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
</div>


<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>
      We offer end-to-end web development services for new and modernization web projects. Our specialists
      cover the entire cycle of web product creation from Discovery, system
    </p>
  </section>

  <button class="base-btn am-btn-secondary" id="btn-services">LOREM IPSUM DOLOR</button>
</div>

{% endblock %}