{% extends 'amStaticApp/base.html' %} {% load static %} {% block title %}
    Service Design Sample | Automize {% endblock %} {% block content %}

    <div class="services-tech-header-banner">
        <h2 class="container">SERVICES FOR CUSTOM MOBILE APP DEVELOPMENT</h2>
        <p>
            Utilize our experience developing mobile apps to produce fluid mobile experiences that people
            will love and return to time and time again.
        </p>
        <a href="{% url 'contact' %}" class="base-btn am-btn-secondary">Contact Us</a>
    </div>

    <div class="services-tech-container">
        <div class="services-tech-text-section">
            <h1>OUR SERVICES FOR WEB DEVELOPMENT</h1>
            <hr/>
            <section>
                <p>
                    You need a group of mobile app developers that will thoroughly examine your industry and business
                    ecosystem. Who will examine your clients to determine their requirements and retrace their paths?
                    They will develop a genuinely unique plan and help your business realize the greatest benefits from
                    mobile technology. This is, after all, the main goal of developing custom mobile apps.
                </p>
                <p>
                    You're at the right place if this seems like something you can relate to. In order to create
                    award-winning applications for millions of mobile users, our UX/UI designers and engineers have been
                    customizing application development services for our clients—Oracle, Printique, and Takeda—for more
                    than ten years. You can now use this experience to speed up the development of your mobile app.
                </p>
            </section>
        </div>

        <div class="services-tech-text-section">
            <h1>what we do ?</h1>
            <hr/>
            <section>
                <p>
                    Start or accelerate your project with our tried-and-true services for creating custom mobile apps.
                    Our professionals handle every step of the process of developing a mobile application, from concept
                    to launch, including business analysis, UX/UI design, and development of the application. They also
                    integrate the new product into your infrastructure and offer additional optimization and scale-up as
                    needed.
                </p>

                <p>
                    We create mobile apps for many platforms with cutting-edge technologies and tried-and-true methods.
                    Among the services we offer for developing mobile apps are:
                </p>
            </section>
        </div>

        <div class="services-section-icons container">
            <div class="icons-text-wrapper">
                <div class="choices-box">
                    <img src="{% static 'images/t.png' %}"/>
                    <p>Next-gen technologies, intelligent algorithms and modern UI</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/s.png' %}"/>
                    <p>Design and development of native Android and iOS mobile apps</p>
                </div>
                <div class="choices-box">
                    <img src="{% static 'images/Group-27.png' %}"/>
                    <p>Mobile application development based on React Native and Flutter</p>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary my-5">
                tell us about your project
            </a>
        </div>


        <section class="service-tech-sample-section-methodology">
            <h1>DEVELOPMENT OF AGILE MOBILE APPS</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    When you collaborate with a seasoned mobile application developer, the outcomes are consistently
                    favorable. We ensure that your time and effort are maximized at every stage of development and that
                    you receive a digital product that fully satisfies your requirements—if not surpasses them—by
                    employing a proactive strategy and an agile process.
                </p>
            </div>

            <div class="cards-container">
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>CONSULTING & STRATEGY</h5>
                        <p>
                            Select technology and innovation consulting alongside comprehensive market understanding to
                            develop a success-driven mobile strategy for your company.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-3.png' %}"/>
                    <div class="text-content">
                        <h5>UX/UI DESIGN</h5>
                        <p>
                            With our expert assistance, you acquire user-centric digital tools and omnichannel
                            experiences perfectly aligned with your customers' needs and your business objectives.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-2.png' %}"/>
                    <div class="text-content">
                        <h5>CONSULTING & STRATEGY</h5>
                        <p>
                            We implement an iterative approach to construct future-proof digital products, adeptly
                            managing evolving requirements, and ensuring timely and budget-conscious delivery.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/Group-3-4.png' %}"/>
                    <div class="text-content">
                        <h5>QA AND OPTIMIZATION</h5>
                        <p>
                            We seamlessly integrate innovative products into your digital infrastructure, ensuring
                            quality assurance and leveraging performance insights for ongoing optimization.
                        </p>
                    </div>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">HIRE WEB DEVELOPERS</a>
        </section>

        <section class="service-tech-sample-section-technologies">
            <h1>technologies we use</h1>
            <span class="heading-line"></span>
            <div class="description">
                <p>
                    We use a proven agile approach to provide transparency and efficiency
                    throughout the development process and make sure you are getting
                    predictably successful results.
                </p>
                <p>
                    We use a proven agile approach to provide transparency and efficiency
                    throughout the development process and make sure you are getting
                    predictably successful results, meet your delivery goals, and keep costs
                    under control.
                </p>
            </div>
            <div class="lists-container">
                <div class="list">
                    <h6>FRONTEND AND BACKEND</h6>
                    <ul>
                        <li>HTML5/CSS3</li>
                        <li>Vue.js</li>
                        <li>Angular</li>
                        <li>HTML5/CSS3</li>
                        <li>Vue.js</li>
                        <li>Angular</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>CLOUD AND DEVOPS</h6>
                    <ul>
                        <li>Microsoft Azure</li>
                        <li>Amazon Web Services</li>
                        <li>Google Cloud</li>
                        <li>Jenkins</li>
                        <li>Azure DevOps</li>
                    </ul>
                </div>
                <div class="list">
                    <h6>DATABASES</h6>
                    <ul>
                        <li>MS SQL Server</li>
                        <li>MYSQL</li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="services-tech-text-section">
            <h1>our clients say</h1>
            <hr/>
            <section>
                <p>
                    Our mobile app development services are trusted by startups, enterprises, design studios, and
                    technology firms, who partner with us to expand their online presence. The mobile products we have
                    developed for our partners and clients have increased sales, brought in new revenue streams, and
                    received numerous awards throughout the years.
                </p>
            </section>
        </div>

        <div class="service-tech-sample-section-clients-comments">
            <div class="client-comment">
                <div class="comment-head">
                    <span>Time-tested technology partnership</span>
                </div>
                <div class="comment-body">
                    <div class="client-info">
                        <img src="{% static 'images/image-1.jpg' %}"/>
                        <div class="client-info-text">
                            <span class="client-name">David Zack</span><br/>
                            <span class="client-job">Head of Software Development, T&F</span>
                        </div>
                    </div>
                    <p>
                        They are technically excellent, have an agile process in place and are
                        always looking for win-win opportunities. The team is incredibly honest,
                        hardworking and has a source of new ideas and improvements. I cannot
                        recommend the team enough.
                    </p>
                </div>
            </div>
            <div class="client-comment">
                <div class="comment-head">
                    <span>Time-tested technology partnership</span>
                </div>
                <div class="comment-body">
                    <div class="client-info">
                        <img src="{% static 'images/image-1.jpg' %}"/>
                        <div class="client-info-text">
                            <span class="client-name">David Zack</span><br/>
                            <span class="client-job">Head of Software Development, T&F</span>
                        </div>
                    </div>
                    <p>
                        They are technically excellent, have an agile process in place and are
                        always looking for win-win opportunities. The team is incredibly honest,
                        hardworking and has a source of new ideas and improvements. I cannot
                        recommend the team enough.
                    </p>
                </div>
            </div>
            <div class="client-comment">
                <div class="comment-head">
                    <span>Time-tested technology partnership</span>
                </div>
                <div class="comment-body">
                    <div class="client-info">
                        <img src="{% static 'images/image-1.jpg' %}"/>
                        <div class="client-info-text">
                            <span class="client-name">David Zack</span><br/>
                            <span class="client-job">Head of Software Development, T&F</span>
                        </div>
                    </div>
                    <p>
                        They are technically excellent, have an agile process in place and are
                        always looking for win-win opportunities. The team is incredibly honest,
                        hardworking and has a source of new ideas and improvements. I cannot
                        recommend the team enough.
                    </p>
                </div>
            </div>
        </div>

        <!--
  <div class="service-tech-sample-section-features">
    <div class="features-logos-wrapper">
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/1.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/2.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/3.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/4.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/5.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/6.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
    </div>
  </div>-->


        <section class="service-tech-sample-section-paragraph">
            <p>
                Meet your one-stop provider of software development and consulting services.
                Your cross-functional team of designers, software architects, engineers and
                managers working together to create digital systems that bring value to you
                and your customers.
            </p>
        </section>

        <div class="service-tech-sample-section-partners-logos">
            <div class="logo_box">
                <div class="logo_item">
                    <img src="{% static 'images/applixure.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Diaceutics-1.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/FeedFM.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Microsoft.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Printique.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Mercans.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Oracle.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Takeda.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Oracle.png' %}"/>
                </div>
                <div class="logo_item">
                    <img src="{% static 'images/Takeda.png' %}"/>
                </div>
            </div>
        </div>

        <div class="services-tech-text-section">
            <h1>our works</h1>
            <hr/>
            <section>
                <p>
                    Automize is a skillful and versatile mobile development team that
                    delivers outstanding Android apps for B2B/B2E and B2C markets. Our
                    applications help businesses expand their reach to millions of Android
                    users, create new profit centers and set them apart from the
                    competition. Let’s see if our Android mobile application development
                    services match your needs.
                </p>
            </section>
        </div>


        <div class="service-tech-sample-section-articles">
            <div class="section-articles">
                <div class="section-article">
                    <img src="{% static 'images/Mask-Group.jpg' %}"/><br>

                    <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND
                        LAUNCHED IN RECORD 8-MONTH TERM</a>

                    <p>
                        Since 2010, Automize has been helping one of the leading photo companies
                        in the US scale up its business by introducing dozens of new web
                        applications and services. As a result, the client has increased the
                        number of customers by millions, strengthened its leadership position in
                        the niche, and boosted profit.
                    </p>
                </div>
                <div class="section-article">
                    <img src="{% static 'images/Mask-Group.jpg' %}"/><br>

                    <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND
                        LAUNCHED IN RECORD 8-MONTH TERM</a>

                    <p>
                        Since 2010, Automize has been helping one of the leading photo companies
                        in the US scale up its business by introducing dozens of new web
                        applications and services. As a result, the client has increased the
                        number of customers by millions, strengthened its leadership position in
                        the niche, and boosted profit.
                    </p>
                </div>
                <div class="section-article">
                    <img src="{% static 'images/Mask-Group.jpg' %}"/><br>

                    <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND
                        LAUNCHED IN RECORD 8-MONTH TERM</a>

                    <p>
                        Since 2010, Automize has been helping one of the leading photo companies
                        in the US scale up its business by introducing dozens of new web
                        applications and services. As a result, the client has increased the
                        number of customers by millions, strengthened its leadership position in
                        the niche, and boosted profit.
                    </p>
                </div>
            </div>
        </div>

        <div class="services-tech-text-bottom-section">
            <h1>APPLY NOW FOR WEBSITE DEVELOPMENT SERVICES</h1>
            <hr/>
            <section>
                <p>
                    Hire a capable custom web development company once, and you will never have to spend months trying
                    to find qualified specialists to design, develop, support, and scale your web system. So that you
                    could focus on growing your business.
                </p>
            </section>
            <a href="{% url 'contact' %}" class="base-btn am-btn-secondary mt-5">HIRE WEB DEVELOPERS</a>
        </div>
    </div>

{% endblock %}