{% extends 'amStaticApp/base.html' %}
{% load static %}
{% block title %} Service Design Sample | Automize {%endblock %}
{% block content %}


<!--header section of services samples page-->
<div class="header-banner">
  <img src="{% static 'images/shutterstock_477005419-1.jpg' %}" />
  <div class="center-text">
    <h2>Lorem ipsum consectetur</h2>
    <div class="services-banner-text">
      <p>
        Choose time-tested web development services to equip your company and customers with the digital tools that
        make them efficient, innovative and successful and keep your business at the top of the competition </p>
    </div>
    <button class="base-btn am-btn-secondary">Contact Us</button>
  </div>
</div>
<!-- end -->





<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
      <hr/>
  </div>
  <section>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
  </section>
</div>
<!-- end -->



<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
      <hr/>
  </div>
  <section>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
  </section>
</div>

<div class="services-grid">
  <div class="box-tec">
    <div class="box-item-tec">
      <img src="{% static 'images/t.png' %}" /><br />
      <p>lorem ipsum dolor</p>
    </div>
    <div class="box-item-tec">
      <img src="{% static 'images/s.png' %}" /><br />
      <p>lorem ipsum dolor</p>
    </div>
    <div class="box-item-tec">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <p>lorem ipsum dolor</p>
    </div>
    <div class="box-item-tec">
      <img src="{% static 'images/Group-27.png' %}" /><br />
      <p>lorem ipsum dolor</p>

    </div>
  </div>
  <button class="base-btn am-btn-secondary" id="btn-ser-box">LOREM IPSUM DOLOR</button>
</div>


<div class="agile-section">
  <h1>Lorem ipsum dolor sit amet consectetur </h1>
  <hr />
  <section>
    <p>
      We use a proven agile approach to provide transparency and efficiency throughout the development process and
      make sure you are getting predictably successful results, meet your delivery goals, and keep costs under
      control.
    </p>
  </section>

  <div class="details-box">
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-4.png' %}"/><br />
      <div class="item"> 
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-3.png' %}"/><br />
      <div class="item">
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-2.png' %}"/><br />
      <div class="item">
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="details-box-item">
      <img src="{% static 'images/Group-3-4.png' %}"/><br />
      <div class="item">
        <label>Lorem ipsum </label>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  <button class="base-btn am-btn-secondary" id="btn-agile-ser">LOREM IPSUM DOLOR</button>
</div>





<div class="langages-section">
  <h1>FUTURE-PROOF TECHNOLOGIES FOR WEB DEVELOPMENT SERVICES</h1>
  <hr />
  <section>
    <p>
      We use a proven agile approach to provide transparency and efficiency throughout the development process and
      make sure you are getting predictably successful results.
    </p>
    <p>
      We use a proven agile approach to provide transparency and efficiency throughout the development process and
      make sure you are getting predictably successful results, meet your delivery goals, and keep costs under
      control.
    </p>
  </section>
   <div class="langage-list">
    <div class="langages-list-item">
      <h6>FRONTEND AND BACKEND</h6>
      <ul>
        <li>HTML5/CSS3</li>
        <li>Vue.js</li>
        <li>Angular</li>
        <li>HTML5/CSS3</li>
        <li>Vue.js</li>
        <li>Angular</li>
      </ul>
    </div>
    <div class="langages-list-item">
      <h6>CLOUD AND DEVOPS</h6>
      <ul>
        <li>Microsoft Azure</li>
        <li>Amazon Web Services</li>
        <li>Google Cloud</li>
        <li>Jenkins</li>
        <li>Azure DevOps</li>
        
      </ul>
    </div>
    <div class="langages-list-item">
      <h6>DATABASES</h6>
      <ul>
        <li>MS SQL Server</li>
        <li>MYSQL</li>
      </ul>
    </div>
  </div>
</div>




<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
      <hr/>
  </div>
  <section>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
   
  </section>
</div>
<!-- end -->

<div class="art-clients">
  <div class="art-client">
    <div class="artclient-title">
      <span>Time-tested technology partnership</span>
    </div>
    <div class="artclient-body">
      <img src="{% static 'images/image-1.jpg' %}">
      <span class="client-name">David Zack</span><br>
      <span class="client-job">Head of Software Development, T&F</span>
      <p>They are technically excellent, have an agile process in place and are always looking for
        win-win opportunities. The team is incredibly honest, hardworking and has a source of new ideas and
        improvements. I cannot recommend the team enough.</p>
    </div>

  </div>
  <div class="art-client">
    <div class="artclient-title">
      <span>Time-tested technology partnership</span>
    </div>
    <div class="artclient-body">
      <img src="{% static 'images/image-1.jpg' %}">
      <span class="client-name">David Zack</span><br>
      <span class="client-job">Head of Software Development, T&F</span>
      <p>They are technically excellent, have an agile process in place and are always looking for
        win-win opportunities. The team is incredibly honest, hardworking and has a source of new ideas and
        improvements. I cannot recommend the team enough.</p>
    </div>

  </div>
  <div class="art-client">
    <div class="artclient-title">
      <span>Time-tested technology partnership</span>
    </div>
    <div class="artclient-body">
      <img src="{% static 'images/image-1.jpg' %}">
      <span class="client-name">David Zack</span><br>
      <span class="client-job">Head of Software Development, T&F</span>
      <p>They are technically excellent, have an agile process in place and are always looking for
        win-win opportunities. The team is incredibly honest, hardworking and has a source of new ideas and
        improvements. I cannot recommend the team enough.</p>
    </div>

  </div>
</div>




<div class="banner-services">
  <img src="{% static 'images/Group-5.png' %}">
  <div class="centered_logo">
    <div class="banner_logo">
      <img src="{% static 'images/1.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/2.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/3.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/4.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/5.png' %}">
      <p>LOREM IPSUM</p>
    </div>
    <div class="banner_logo">
      <img src="{% static 'images/6.png' %}">
      <p>LOREM IPSUM</p>
    </div>

  </div>


</div>

<div class="paragrapgh-section">
  <section>
    <p >
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>
  </section>
</div>

<div class="logo_partner">
  <div class="logo_box">
    <div class="logo_item">
      <img src="{% static 'images/applixure.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Diaceutics-1.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/FeedFM.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Microsoft.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Printique.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Mercans.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Oracle.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Takeda.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Oracle.png' %}" />
    </div>
    <div class="logo_item">
      <img src="{% static 'images/Takeda.png' %}" />
    </div>
  </div>
</div>
</div>
<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>
      Meet your one-stop provider of software development and consulting
      services. Your cross-functional team of designers, software
      architects, engineers and managers working together to create digital
      systems that bring value to you and your customers.
    </p>

  </section>
</div>
<!-- end -->
<div class="articles-services-section">
  <div class="section-articles">
    <div class="section-article">
      <img src="{% static 'images/Mask-Group.jpg' %}">
      <span>
        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND LAUNCHED IN
          RECORD 8-MONTH TERM</a>
      </span>
      <p p>Since 2010, Digiteum has been helping one of the leading photo companies in the US
        scale up its business by introducing dozens of new web applications and services. As a result, the client has
        increased the number of customers by millions, strengthened its leadership position in the niche, and boosted
        profit.
      </p>
    </div>
    <div class="section-article">
      <img src="{% static 'images/Mask-Group.jpg' %}">
      <span>
        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND LAUNCHED IN
          RECORD 8-MONTH TERM</a>
      </span>
      <p p>Since 2010, Digiteum has been helping one of the leading photo companies in the US
        scale up its business by introducing dozens of new web applications and services. As a result, the client has
        increased the number of customers by millions, strengthened its leadership position in the niche, and boosted
        profit.
      </p>
    </div>
    <div class="section-article">
      <img src="{% static 'images/Mask-Group.jpg' %}">
      <span>
        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND LAUNCHED IN
          RECORD 8-MONTH TERM</a>
      </span>
      <p p>Since 2010, Digiteum has been helping one of the leading photo companies in the US
        scale up its business by introducing dozens of new web applications and services. As a result, the client has
        increased the number of customers by millions, strengthened its leadership position in the niche, and boosted
        profit.
      </p>
    </div>
  </div>
</div>

<!--block section of about page-->
<div class="services-block-section">
  <h1>Lorem ipsum dolor</h1>
  <div class="services-center-hr">
    <hr />
  </div>
  <section>
    <p>
      We offer end-to-end web development services for new and modernization web projects. Our specialists
      cover the entire cycle of web product creation from Discovery, system
    </p>
  </section>

  <button class="base-btn am-btn-secondary" id="btn-services">LOREM IPSUM DOLOR</button>
</div>

{% endblock %}