{% extends 'amStaticApp/base.html' %} {% load static %} {% block title %}
Service Design Sample | Automize {%endblock %} {% block content %}

<div class="services-tech-header-banner">
  <h2>lorem ipsum consectetur</h2>
  <p>
    Choose time-tested web development services to equip your company and
    customers with the digital tools that make them efficient, innovative and
    successful and keep your business at the top of the competition
  </p>
  <button class="base-btn am-btn-secondary">Contact Us</button>
</div>

<div class="services-tech-container">
  <div class="services-tech-text-section">
    <h1>android application development</h1>
    <hr />
    <section>
      <p>
        You are here because you are looking for a reliable Android app
        development agency that could help your business leverage mobile
        technology and reach your customers and clients on some of the most
        popular devices.
      </p>
      <p>
        Digiteum is a skillful and versatile mobile development team that
        delivers outstanding Android apps for B2B/B2E and B2C markets. Our
        applications help businesses expand their reach to millions of Android
        users, create new profit centers and set them apart from the
        competition. Let’s see if our Android mobile application development
        services match your needs.
      </p>
    </section>
  </div>

  <div class="services-tech-text-section">
    <h1>what we do</h1>
    <hr />
    <section>
      <p>
        We provide end-to-end Android app development services from business
        analysis and design to full-cycle Android app programming, testing and
        launching on Google Play Store.
      </p>
      <p>
        Whether you need to design and develop a brand new app for a smartphone,
        tablet, smart TV or wearable, redesign and update an existing one or
        expand your mobile solution from iOS to Android, Digiteum is a one-stop
        technology provider you’ll need. Our services include:
      </p>
    </section>
  </div>

  <div class="services-section-icons">
    <div class="icons-text-wrapper">
      <div class="choices-box">
        <img src="{% static 'images/t.png' %}" />
        <p>Custom Android app development</p>
      </div>
      <div class="choices-box">
        <img src="{% static 'images/s.png' %}" />
        <p>Android applications for IoT</p>
      </div>
      <div class="choices-box">
        <img src="{% static 'images/Group-27.png' %}" />
        <p>UX/UI design for Android</p>
      </div>
      <div class="choices-box">
        <img src="{% static 'images/Group-27.png' %}" />
        <p>Android app redesign and scale-up</p>
      </div>
    </div>
    <button class="base-btn am-btn-secondary">
      tell us about your project
    </button>
  </div>


  <section class="service-tech-sample-section-methodology">
    <h1>Lorem ipsum dolor sit amet consectetur</h1>
    <span class="heading-line"></span>
    <div class="description">
      <p>
        We use a proven agile approach to provide transparency and efficiency
        throughout the development process and make sure you are getting
        predictably successful results, meet your delivery goals, and keep costs
        under control.
      </p>
      <p>
        We use a proven agile approach to provide transparency and efficiency
        throughout the development process and make sure you are getting
        predictably successful results, meet your delivery goals, and keep costs
        under control.
      </p>
    </div>

    <div class="cards-container">
      <div class="card">
        <img src="{% static 'images/Group-3-4.png' %}" />
        <div class="text-content">
          <h5>Lorem ipsum</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/Group-3-3.png' %}" />
        <div class="text-content">
          <h5>Lorem ipsum</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/Group-3-2.png' %}" />
        <div class="text-content">
          <h5>Lorem ipsum</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/Group-3-4.png' %}" />
        <div class="text-content">
          <h5>Lorem ipsum</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <button class="base-btn am-btn-secondary">LOREM IPSUM DOLOR</button>
  </section>

  <section class="service-tech-sample-section-technologies">
    <h1>FUTURE-PROOF TECHNOLOGIES FOR WEB DEVELOPMENT SERVICES</h1>
    <span class="heading-line"></span>
    <div class="description">
      <p>
        We use a proven agile approach to provide transparency and efficiency
        throughout the development process and make sure you are getting
        predictably successful results.
      </p>
      <p>
        We use a proven agile approach to provide transparency and efficiency
        throughout the development process and make sure you are getting
        predictably successful results, meet your delivery goals, and keep costs
        under control.
      </p>
    </div>
    <div class="lists-container">
      <div class="list">
        <h6>FRONTEND AND BACKEND</h6>
        <ul>
          <li>HTML5/CSS3</li>
          <li>Vue.js</li>
          <li>Angular</li>
          <li>HTML5/CSS3</li>
          <li>Vue.js</li>
          <li>Angular</li>
        </ul>
      </div>
      <div class="list">
        <h6>CLOUD AND DEVOPS</h6>
        <ul>
          <li>Microsoft Azure</li>
          <li>Amazon Web Services</li>
          <li>Google Cloud</li>
          <li>Jenkins</li>
          <li>Azure DevOps</li>
        </ul>
      </div>
      <div class="list">
        <h6>DATABASES</h6>
        <ul>
          <li>MS SQL Server</li>
          <li>MYSQL</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="services-tech-text-section">
    <h1>our clients say</h1>
    <hr />
    <section>
      <p>
        Meet your one-stop provider of software development and consulting services. Your cross-functional team of
        designers, software architects, engineers and managers working together to create digital systems that bring
        value to you and your customers.
      </p>
    </section>
  </div>

  <div class="service-tech-sample-section-clients-comments">
    <div class="client-comment">
      <div class="comment-head">
        <span>Time-tested technology partnership</span>
      </div>
      <div class="comment-body">
        <div class="client-info">
          <img src="{% static 'images/image-1.jpg' %}" />
          <div class="client-info-text">
            <span class="client-name">David Zack</span><br />
            <span class="client-job">Head of Software Development, T&F</span>
          </div>
        </div>
        <p>
          They are technically excellent, have an agile process in place and are
          always looking for win-win opportunities. The team is incredibly honest,
          hardworking and has a source of new ideas and improvements. I cannot
          recommend the team enough.
        </p>
      </div>
    </div>
    <div class="client-comment">
      <div class="comment-head">
        <span>Time-tested technology partnership</span>
      </div>
      <div class="comment-body">
        <div class="client-info">
          <img src="{% static 'images/image-1.jpg' %}" />
          <div class="client-info-text">
            <span class="client-name">David Zack</span><br />
            <span class="client-job">Head of Software Development, T&F</span>
          </div>
        </div>
        <p>
          They are technically excellent, have an agile process in place and are
          always looking for win-win opportunities. The team is incredibly honest,
          hardworking and has a source of new ideas and improvements. I cannot
          recommend the team enough.
        </p>
      </div>
    </div>
    <div class="client-comment">
      <div class="comment-head">
        <span>Time-tested technology partnership</span>
      </div>
      <div class="comment-body">
        <div class="client-info">
          <img src="{% static 'images/image-1.jpg' %}" />
          <div class="client-info-text">
            <span class="client-name">David Zack</span><br />
            <span class="client-job">Head of Software Development, T&F</span>
          </div>
        </div>
        <p>
          They are technically excellent, have an agile process in place and are
          always looking for win-win opportunities. The team is incredibly honest,
          hardworking and has a source of new ideas and improvements. I cannot
          recommend the team enough.
        </p>
      </div>
    </div>
  </div>


  <div class="service-tech-sample-section-features">
    <!-- <img src="{% static 'images/Group-5.png' %}"> -->
    <div class="features-logos-wrapper">
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/1.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/2.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/3.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/4.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/5.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
      <div class="feature-logo">
        <div class="img-box">
          <img src="{% static 'images/6.png' %}" />
        </div>
        <p>LOREM IPSUM</p>
      </div>
    </div>
  </div>


  <section class="service-tech-sample-section-paragraph">
    <p>
      Meet your one-stop provider of software development and consulting services.
      Your cross-functional team of designers, software architects, engineers and
      managers working together to create digital systems that bring value to you
      and your customers.
    </p>
  </section>

  <div class="service-tech-sample-section-partners-logos">
    <div class="logo_box">
      <div class="logo_item">
        <img src="{% static 'images/applixure.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Diaceutics-1.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/FeedFM.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Microsoft.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Printique.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Mercans.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Oracle.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Takeda.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Oracle.png' %}" />
      </div>
      <div class="logo_item">
        <img src="{% static 'images/Takeda.png' %}" />
      </div>
    </div>
  </div>

  <div class="services-tech-text-section">
    <h1>lorem ipsum dolor</h1>
    <hr />
    <section>
      <p>
        Digiteum is a skillful and versatile mobile development team that
        delivers outstanding Android apps for B2B/B2E and B2C markets. Our
        applications help businesses expand their reach to millions of Android
        users, create new profit centers and set them apart from the
        competition. Let’s see if our Android mobile application development
        services match your needs.
      </p>
    </section>
  </div>


  <div class="service-tech-sample-section-articles">
    <div class="section-articles">
      <div class="section-article">
        <img src="{% static 'images/Mask-Group.jpg' %}" />

        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND
          LAUNCHED IN RECORD 8-MONTH TERM</a>

        <p>
          Since 2010, Digiteum has been helping one of the leading photo companies
          in the US scale up its business by introducing dozens of new web
          applications and services. As a result, the client has increased the
          number of customers by millions, strengthened its leadership position in
          the niche, and boosted profit.
        </p>
      </div>
      <div class="section-article">
        <img src="{% static 'images/Mask-Group.jpg' %}" />

        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND
          LAUNCHED IN RECORD 8-MONTH TERM</a>

        <p>
          Since 2010, Digiteum has been helping one of the leading photo companies
          in the US scale up its business by introducing dozens of new web
          applications and services. As a result, the client has increased the
          number of customers by millions, strengthened its leadership position in
          the niche, and boosted profit.
        </p>
      </div>
      <div class="section-article">
        <img src="{% static 'images/Mask-Group.jpg' %}" />

        <a href="#">COULD-BASES WEB SOLUTION FOR PRECISION MEDICINE DELIVERED AND
          LAUNCHED IN RECORD 8-MONTH TERM</a>

        <p>
          Since 2010, Digiteum has been helping one of the leading photo companies
          in the US scale up its business by introducing dozens of new web
          applications and services. As a result, the client has increased the
          number of customers by millions, strengthened its leadership position in
          the niche, and boosted profit.
        </p>
      </div>
    </div>
  </div>

  <div class="services-tech-text-bottom-section">
    <h1>how we can help?</h1>
    <hr />
    <section>
      <p>
        If you are looking for a qualified Android application development company, you are in the right place. Contact
        our expert team today and tell us about your project. This quick request for a free quote will be a starting
        point for building your successful Android app.
      </p>
    </section>
    <button class="base-btn am-btn-secondary">Let's Talk</button>
  </div>
</div>

{% endblock %}