{% extends 'amStaticApp/base.html' %} {% load static %} {% block title %}
Services | Automize {%endblock %} {% block style %} {% static
'amStaticApp/css/services.css' %} {% endblock %} {% block content %}

<!--section1-->
<section class="services-section-header">
  <div class="text-container">
    <h2>Lorem ipsum dolar</h2>
    <h4>Automize</h4>
  </div>
</section>
<!--that's me-->
<!--section2-->
<section class="services-section-custom-development">
  <div class="text-content">
    <h1>Lorem ipsum dolar</h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed <br />
        do eiusmod tempor incididunt ut labore et doloremagna <br />aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation<br />
        ullamco laboris nisi ut aliquip ex ea commodo consequat.<br />
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        <br />cillum dolore eu fugiat nulla pariatur. laborum.?
      </p>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud
        exercitation erit in voluptate velit esse cillum dolore eu
        pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
        So that you beat the consectetur adipiscingbr elit, sed do
        eiusmod .
      </p>
    </div>
  </div>

  <div class="call-to-action">
    <h5>ACCESS TECH EXPERTISE ON DEMAND</h5>
    <div class="contact-container">
      <input type="email" placeholder="Your Business email" /><br />
      <br />
      <input type="text" />

      <div>
        <input type="checkbox" />
        <p>
          Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam
          <a href="#">Pricavy Policy</a>
        </p>
      </div>
    </div>
    <br />
    <a href="#" class="base-btn am-btn-secondary">SEND MESSAGE</a>
  </div>
</section>

<!--section3-->
<section class="services-section-technologies">
  <h3>HIGH-END DIGITAL TECHNOLOGY</h3>
  <span class="heading-line"></span>
  <div class="cards-column">
    <div class="card">
      <h4>Lorem ipsum dolor sit amet</h4>
      <p>
        section-se2 Lorem ipsum dolor sit amet, <br />consectetur adipiscing
        elit, sed do <br />eiusmod tempor incididunt ut labore <br />et dolore
        magna aliqua.
      </p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
    </div>

    <div class="card">
      <h4>Lorem ipsum dolor sit amet</h4>
      <p>
        Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit, sed do
        <br />eiusmod tempor incididunt ut labore <br />et dolore magna aliqua.
      </p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
    </div>

    <div class="card">
      <h4>Lorem ipsum dolor sit amet</h4>
      <p>
        Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit, sed do
        <br />eiusmod tempor incididunt ut labore <br />et dolore magna aliqua.
      </p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</section>



<!--section4-->

<div class="cta">
  <a class="base-btn am-btn-secondary" href="#">get an estimate for my project</a>
</div>

<!--section5-->
<section class="services-section-services">
  <div class="content-container">
    <h3>LOREM IPSUM DOLOR SIT</h3>
    <span class="heading-line"></span>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </p>
    <div class="cards">
      <div class="card">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a class="base-btn am-btn-white" href="#">s more</a>
      </div>
      <div class="card">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#" class="base-btn am-btn-white">Learn more</a>
      </div>

      <div class="card">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#" class="base-btn am-btn-white">Learn more</a>
      </div>
      <div class="card">
        <h3>Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="#" class="base-btn am-btn-white">Learn more</a>
      </div>
    </div>
  </div>
</section>


<!--section6-->
<section class="section-big-cards">
  <div class="section-header">
    <h3>LOREM IPSUM DOLOR SIT</h3>
    <span class="heading-line"></span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </p>
  </div>

  <div class="cards-container">
    <div class="am-card left-card">
      <h2>Build my product</h2>
      <p>
        Sed ut perspiciatis unde omnis iste sequi nesciunt. Neque porro <br />
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, <br />
        adipisci velit, sed quia non numquam eius modi tempora incidunt ut

        labore et dolore magnam aliquam quaerat voluptatem. <br /><br />
        Lorem ipsumv dolor sit amet, consectetur adipiscing elit,<br />
        sed do eiusmod.
      </p>
      <a class="base-btn am-btn-secondary" href="">succes story</a>
    </div>

    <div class="am-card right-card">
      <h2 >Scale my tech team</h2>
      <p>
        Sed ut perspiciatis unde omnis iste sequi nesciunt. Neque porro <br />
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, <br />
        adipisci velit, sed quia non numquam eius modi tempora incidunt ut
        labore et dolore magnam aliquam quaerat voluptatem. <br /><br />
        Lorem ipsumv dolor sit amet, consectetur adipiscing elit,<br />
        sed do eiusmod.
      </p>
      <a class="base-btn am-btn-secondary" href="">succes story</a>
    </div>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, Ut enim ad minim
    veniam.
  </p>
</section>
<br /><br /><br /><br />

{% endblock %}
